<div id="socialmedia">
  <ul style="list-style: none">
    <li>
      <a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via YouTube
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a>
    </li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li>
      <a class="facebook" href="https://www.facebook.com/brainsoulnyou/">
        <i class="lni-facebook-filled"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/BrainSoulYou1">
        <i class="lni-twitter-filled"></i>
      </a>
    </li>
    <li>
      <a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw">
        <i class="lni-display"></i>
      </a>
    </li>
    <li>
      <a class="insta" href="https://www.instagram.com/brainsoulnyou/">
        <i class="lni-instagram-filled"></i>
      </a>
    </li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#gallery">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="/braintest">Brain Test</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="carousel-area">
    <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" *ngFor="let x of arrayRange;let i = index"></li>
      </ol>
      <ol class="carousel-indicators">
        <li *ngFor="let item of Images; let i = index" data-target="#carousel-slider" [attr.data-slide-to]="i"
          ngClass="i == 0 ? 'active' : ''">
        </li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+1" class=""></li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+2" class=""></li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+3" class=""></li>
        <!-- <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+4" class=""></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">


        <div *ngFor="let item of Images; let k = index"
          [ngClass]="k == 0 ? 'carousel-item carousel-agency active' : 'carousel-item carousel-agency'">
          <img src={{item.ImageUrl}} alt="" class="slide-img">
          <!-- <div class="overlay"></div> -->
          <!-- <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                </div>
              </div>


            </div>
          </div> -->
        </div>





        <div class="carousel-item carousel-agency ">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/logo.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <h3>
                    Our Vision is to spread Positivity, Humanity and Motivation
                  </h3>
                  <br />
                  <h5>Life doesn’t starts when you get birth, but it starts when you get your own IDENTITY.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    More
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-right">
            <div class="row space-100">
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <br />
                  <h5>Thoughts are the biggest thing in this world. Just one thought can send you anywhere, but only the
                    ACTION
                    can make to all your thoughts TRUE.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">View
                    More
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl2.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl3.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <br />
                  <h5>Stay focused, go after your dreams and keep moving toward you goals.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    How
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-right">
            <div class="row space-100">
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <h3>
                    Always say to yourself
                  </h3>
                  <br />
                  <h5>“I will not allow anyone walk through my Mind with their dirty feet”.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    How
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl4.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
        <span class="carousel-control" aria-hidden="true">
          <i class="lni-chevron-left"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
        <span class="carousel-control" aria-hidden="true">
          <i class="lni-chevron-right"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</header>

<div class="section" style="margin-top:4em">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Refund and Cancellation Policy</h2>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="about-content">
        <div>
          <div class="desc-text">
            <p class="text-justify mt-30">
              Our focus is complete customer satisfaction. In the event, if you are displeased with the services
              provided, we will refund
              back the money, provided the reasons are genuine and proved after investigation. Please read the fine
              prints
              of each deal before buying it, it provides all the details about the services or the product you purchase.
              <br>
              <br>In case of dissatisfaction from our services, clients have the liberty to cancel their projects and
              request
              a refund from us. Our Policy for the cancellation and refund will be as follows:
              <br>
              <br><b>Cancellation Policy</b>
              <br> For Cancellations please contact the us via contact us link.
              <br>Requests received later than 7 business days prior to the end of the current service period will be
              treated
              as cancellation of services for the next service period.
              <br>
              <br><b>Refund Policy</b>
              <br>We will try our best to create the suitable design concepts for our clients.
              <br> In case any client is not completely satisfied with our products we can provide a refund.
              <br>If paid by credit card, refunds will be issued to the original credit card provided at the time of
              purchase
              and in case of payment gateway name payments refund will be made to the same account.


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />
</div>

<footer>
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center"><a style="color:white;" routerLink="/termOfUse">Terms</a>&nbsp;|&nbsp;<a
              style="color:white;" routerLink="/privacyPolicy">Privacy Policy</a>&nbsp;|&nbsp;<a style="color:white;"
              routerLink="/refund">Refund &
              Cancellation</a></div>
          <div class="col-md-6 col-xs-12">
            <div class="site-info text-center">
              <p>&copy; 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>