<div id="socialmedia">
  <ul style="list-style: none">
    <li>
      <a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via YouTube
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a>
    </li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li>
      <a class="facebook" href="https://www.facebook.com/brainsoulnyou/">
        <i class="lni-facebook-filled"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/BrainSoulYou1">
        <i class="lni-twitter-filled"></i>
      </a>
    </li>
    <li>
      <a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw">
        <i class="lni-display"></i>
      </a>
    </li>
    <li>
      <a class="insta" href="https://www.instagram.com/brainsoulnyou/">
        <i class="lni-instagram-filled"></i>
      </a>
    </li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll active" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#gallery">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="/braintest">Brain Test</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="carousel-area">
    <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" *ngFor="let x of arrayRange;let i = index"></li>
      </ol>
      <ol class="carousel-indicators">
        <li *ngFor="let item of Images; let i = index" data-target="#carousel-slider" [attr.data-slide-to]="i"
          ngClass="i == 0 ? 'active' : ''">
        </li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+1" class=""></li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+2" class=""></li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+3" class=""></li>
        <!-- <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+4" class=""></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">


        <div *ngFor="let item of Images; let k = index"
          [ngClass]="k == 0 ? 'carousel-item carousel-agency active' : 'carousel-item carousel-agency'">
          <img src={{item.ImageUrl}} alt="" class="slide-img">
          <!-- <div class="overlay"></div> -->
          <!-- <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                </div>
              </div>


            </div>
          </div> -->
        </div>





        <div class="carousel-item carousel-agency ">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/logo.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <h3>
                    Our Vision is to spread Positivity, Humanity and Motivation
                  </h3>
                  <br />
                  <h5>Life doesn’t starts when you get birth, but it starts when you get your own IDENTITY.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    More
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-right">
            <div class="row space-100">
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <br />
                  <h5>Thoughts are the biggest thing in this world. Just one thought can send you anywhere, but only the
                    ACTION
                    can make to all your thoughts TRUE.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">View
                    More
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl2.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl3.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <br />
                  <h5>Stay focused, go after your dreams and keep moving toward you goals.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    How
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-right">
            <div class="row space-100">
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <h3>
                    Always say to yourself
                  </h3>
                  <br />
                  <h5>“I will not allow anyone walk through my Mind with their dirty feet”.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    How
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl4.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
        <span class="carousel-control" aria-hidden="true">
          <i class="lni-chevron-left"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
        <span class="carousel-control" aria-hidden="true">
          <i class="lni-chevron-right"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</header>
<div class="section" style="margin-top:4em">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Privacy Policy</h2>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="about-content">
        <div>
          <div class="desc-text">
            <p class="text-justify mt-30">
              The terms “Brain Soul & You” individually and collectively refer to the users.
              <br>
              <br> This Privacy Policy is an electronic record in the form of an electronic contract formed under the
              information
              Technology Act, 2000 and the rules made thereunder and the amended provisions pertaining to electronic
              documents
              / records in various statutes as amended by the information Technology Act, 2000. This Privacy Policy does
              not require any physical, electronic or digital signature. This Privacy Policy is a legally binding
              document
              between you and Brain Soul & You (both terms defined below). The terms of this Privacy Policy will be
              effective
              upon your acceptance of the same (directly or indirectly in electronic form, by clicking on the I accept
              tab
              or by use of the website or by other means) and will govern the relationship between you and Brain Soul &
              You
              for your use of the website “www.brainsoulnyou.com” (defined below). This document is published and shall
              be
              construed in accordance with the provisions of the Information Technology (reasonable security practices
              and
              procedures and sensitive personal data of information) rules, 2011 under Information Technology Act, 2000;
              that require publishing of the Privacy Policy for collection, use, storage and transfer of sensitive
              personal
              data or information.
              <br>Please read this Privacy Policy carefully by using the Website, you indicate that you understand,
              agree and
              consent to this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not
              use
              this Website.
              <br>By providing us your Information or by making use of the facilities provided by the Website, You
              hereby consent
              to the collection, storage, processing and transfer of any or all of Your Personal Information and
              Non-Personal
              Information by us as specified under this Privacy Policy. You further agree that such collection, use,
              storage
              and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.
              <br>
              <br>
              <b>USER INFORMATION</b>
              <br> To avail certain services on our Websites, users are required to provide certain information for the
              registration
              process namely: - a) your name, b) email address, c) sex, d) age, e) PIN code, f) credit card or debit
              card
              details g) medical records and history h) sexual orientation, i) biometric information, j) password etc.,
              and
              / or your occupation, interests, and the like. The Information as supplied by the users enables us to
              improve
              our sites and provide you the most user-friendly experience.
              <br> All required information is service dependent and we may use the above said user information to,
              maintain,
              protect, and improve its services (including advertising services) and for developing new services
              <br> Such information will not be considered as sensitive if it is freely available and accessible in the
              public
              domain or is furnished under the Right to Information Act, 2005 or any other law for the time being in
              force.
              <br>
              <br>
              <b>COOKIES</b>
              <br> To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic
              tools
              to collect information to assign each visitor a unique, random number as a User Identification (User ID)
              to
              understand the user's individual interests using the Identified Computer. Unless you voluntarily identify
              yourself
              (through registration, for example), we will have no way of knowing who you are, even if we assign a
              cookie
              to your computer. The only personal information a cookie can contain is information you supply (an example
              of this is when you ask for our Personalized Horoscope). A cookie cannot read data off your hard drive.
              Our
              advertisers may also assign their own cookies to your browser (if you click on their ads), a process that
              we
              do not control.
              <br> Our web servers automatically collect limited information about your computer's connection to the
              Internet,
              including your IP address, when you visit our site. (Your IP address is a number that lets computers
              attached
              to the Internet know where to send you data -- such as the web pages you view.) Your IP address does not
              identify
              you personally. We use this information to deliver our web pages to you upon request, to tailor our site
              to
              the interests of our users, to measure traffic within our site and let advertisers know the geographic
              locations
              from where our visitors come.
              <br>
              <br>
              <b>LINKS TO THE OTHER SITES</b>
              <br> Our policy discloses the privacy practices for our own web site only. Our site provides links to
              other websites
              also that are beyond our control. We shall in no way be responsible in way for your use of such sites.5.
              <br>
              <b>INFORMATION SHARING</b>
              <br> We shares the sensitive personal information to any third party without obtaining the prior consent
              of the
              user in the following limited circumstances:
              <br>
              <br> (a) When it is requested or required by law or by any court or governmental agency or authority to
              disclose,
              for the purpose of verification of identity, or for the prevention, detection, investigation including
              cyber
              incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and
              belief
              that such disclosure is reasonably necessary for enforcing these Terms; for complying with the applicable
              laws
              and regulations.
              <br> (b) We proposes to share such information within its group companies and officers and employees of
              such group
              companies for the purpose of processing personal information on its behalf. We also ensure that these
              recipients
              of such information agree to process such information based on our instructions and in compliance with
              this
              Privacy Policy and any other appropriate confidentiality and security measures.
              <br>
              <br>
              <b>INFORMATION SECURITY</b>
              <br> We take appropriate security measures to protect against unauthorized access to or unauthorized
              alteration,
              disclosure or destruction of data. These include internal reviews of our data collection, storage and
              processing
              practices and security measures, including appropriate encryption and physical security measures to guard
              against
              unauthorized access to systems where we store personal data.
              <br> All information gathered on our Website is securely stored within our controlled database. The
              database is
              stored on servers secured behind a firewall; access to the servers is password-protected and is strictly
              limited.
              However, as effective as our security measures are, no security system is impenetrable. We cannot
              guarantee
              the security of our database, nor can we guarantee that information you supply will not be intercepted
              while
              being transmitted to us over the Internet. And, of course, any information you include in a posting to the
              discussion areas is available to anyone with Internet access.
              <br> However the internet is an ever evolving medium. We may change our Privacy Policy from time to time
              to incorporate
              necessary future changes. Of course, our use of any information we gather will always be consistent with
              the
              policy under which the information was collected, regardless of what the new policy may be.
              <br>
              <br>
              <b>Grievance Redressal</b>
              <br> Redressal Mechanism: Any complaints, abuse or concerns with regards to content and or comment or
              breach of
              these terms shall be immediately informed to the designated Grievance Officer as mentioned below via in
              writing
              or through email signed with the electronic signature to Saurabh Goel.
              <br>
              <br>Mr. Saurabh Goel
              <br> www.brainsoulnyou.com
              <br>Brain Soul & You
              <br>A-1750, Green Field colony, Gate no 5, Faridabad
              <br>Email: info@brainsoulnyou.com
              <br>Ph: 9813533313

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />
</div>

<footer>
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center"><a style="color:white;" routerLink="/termOfUse">Terms</a>&nbsp;|&nbsp;<a
              style="color:white;" routerLink="/privacyPolicy">Privacy Policy</a>&nbsp;|&nbsp;<a style="color:white;"
              routerLink="/refund">Refund &
              Cancellation</a></div>
          <div class="col-md-6 col-xs-12">
            <div class="site-info text-center">
              <p>&copy; 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>