﻿<div id="socialmedia">
    <ul style="list-style: none">
        <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a></li>
        <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
                YouTube</a></li>
        <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a></li>
    </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
    <ul class="footer-social">
        <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i class="lni-facebook-filled"></i></a></li>
        <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
        <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i class="lni-display"></i></a></li>
        <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i class="lni-instagram-filled"></i></a></li>
    </ul>
</div>
<header id="home">
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
        <div class="container">
            <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link page-scroll active" routerLink="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container" id="contact1">
    <div class="row justify-content-center">
        <div class="col-md-offset-4 col-md-4 col-xs-12 mb-4  center-wind">
            <form #f2="ngForm" (ngSubmit)="f2.valid && Login()">
                <div class="contact-block">
                    <div class="section-header">
                        <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">Login
                            Form</p>
                        <!--<h2 class="section-title">Love to Hear From You</h2>-->
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" placeholder="Enter Email" required
                                [(ngModel)]="model.Email" name="Email" #Email="ngModel">
                        </div>
                    </div>
                    <!-- <small class="error" *ngIf="Message.errors.required">
                            Message is required.
                          </small> -->
                    <div class="help-block with-errors" *ngIf="Email.errors && f2.submitted ">
                        <small class="error" *ngIf="Email.errors.required">
                            Email is required.
                        </small>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Enter Password" required
                                [(ngModel)]="model.Password" name="Password" #Password="ngModel">
                        </div>
                    </div>
                    <div class="help-block with-errors" *ngIf="Password.errors && f2.submitted ">
                        <small class="error" *ngIf="Password.errors.required">
                            password is required.
                        </small>
                    </div>
                    <div class="col-md-12">
                        <input class="btn btn-common btn-effect" type="submit" value="Login"><br>
                        <div>
                            {{ meassage}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>