<h1>Questions Detail</h1>

<p *ngIf="!questions"><em>Loading...</em></p>

<table class='table' *ngIf="questions">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ques of questions">
      <ul>
        <li>
          {{ques.question}}
        </li>
        <li>
          <input type="checkbox" value="{{ques.answerCode1}}" /> {{ques.answer1}}
        </li>
        <li>
          <input type="checkbox" value="{{ques.answerCode2}}" /> {{ques.answer2}}
        </li>
        <li>
          <input type="checkbox" value="{{ques.answerCode3}}" /> {{ques.answer3}}
        </li>
        <li>
          <input type="checkbox" value="{{ques.answerCode4}}" /> {{ques.answer4}}
        </li>
      </ul>
    </tr>
  </tbody>
</table>
