<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li>
      <a class="facebook" href="https://www.facebook.com/brainsoulnyou/">
        <i class="lni-facebook-filled"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/BrainSoulYou1">
        <i class="lni-twitter-filled"></i>
      </a>
    </li>
    <li>
      <a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw">
        <i class="lni-display"></i>
      </a>
    </li>
    <li>
      <a class="insta" href="https://www.instagram.com/brainsoulnyou/">
        <i class="lni-instagram-filled"></i>
      </a>
    </li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll active" routerLink="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="video-promo section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="video-promo-content text-center mt-4">
          <h1>Brain Assessment Sheet 1</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="counter-text">
        <div>
          <p class="btn btn-subtitle">Brain Test Assessment sheet 1</p>
          <h3>Instructions</h3>
          <div class="desc-text">
            <p>
              You will be given 20 questions and each question has four options.
              <br /> You have to select the options as 1 to 4 according to your preferences.
              <br /> Like the options which you think is most appropriate, mark it as 1 and then 2 then 3 and last 4 as per your
              preference.
            </p>
            <b>
              PLEASE REMEMBER:
            </b>
            There are no tick right and wrong answers.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="counter" class="section mb-4">
  <form id="answerForm" qusetion="ngForm" (submit)="Submit()">
    <div class="container">
      <div class="row">
        <div class="col-md-6" *ngFor="let ques of questions">
          <div class="questionsBox">
            <div class="questions">{{ques.Question1}}</div>
            <ul class="answerList">
              <li>
                <label>
                  <input type="checkbox" id="{{ques.AnswerCode1}}" name="{{ques.AnswerOrder1}}" (change)="AnswerClick($event,ques.Id,1,ques.AnswerOrder1)"
                  /> {{ques.Answer1}}
                  <span style="border-radius: 50%;padding: 3px 5px;margin-left: 8px;color: #3c96ff;border: 1px solid #3c96ff;">{{ques.AnswerOrder1}}</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="{{ques.AnswerCode2}}" name="{{ques.AnswerOrder2}}" (change)="AnswerClick($event,ques.Id,2,ques.AnswerOrder2)"
                  /> {{ques.Answer2}}  <span style="border-radius: 50%;padding: 3px 5px;margin-left: 8px;color: #3c96ff;border: 1px solid #3c96ff;">{{ques.AnswerOrder2}}</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="{{ques.AnswerCode3}}" name="{{ques.AnswerOrder3}}" (change)="AnswerClick($event,ques.Id,3,ques.AnswerOrder3)"
                  /> {{ques.Answer3}}  <span style="border-radius: 50%;padding: 3px 5px;margin-left: 8px;color: #3c96ff;border: 1px solid #3c96ff;">{{ques.AnswerOrder3}}</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="{{ques.AnswerCode4}}" name="{{ques.AnswerOrder4}}" (change)="AnswerClick($event,ques.Id,4,ques.AnswerOrder4)"
                  /> {{ques.Answer4}}  <span style="border-radius: 50%;padding: 3px 5px;margin-left: 8px;color: #3c96ff;border: 1px solid #3c96ff;">{{ques.AnswerOrder4}}</span>
                </label>
              </li>
            </ul>

          </div>


        </div>
      </div>
      <div class="col-md-12 text-center mt-4 errorMeassage">
        <span style="color:brown">{{errorMeassage}}</span>
      </div>
      <div class="row">
        <div class="col-md-12 text-center mt-4">
          <input type="submit" class="btn btn-border btn-sm" value="Submit">
        </div>
      </div>
    </div>
  </form>


</section>

<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />

</div>

<footer>
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>© 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>