
<div id="about"></div>
<section class="section mt-1">
  <div class="container mt-10">
    <div class="row justify-content-around">
      <div class="col-md-12 col-xs-12 text-center">
        <h1 class="mb-50">Brain Soul & You is helping people in learning how to be the greatest version of themselves
          for
          a better and
          more conscious world.</h1>
        <h4 class="mb-50">
          “Life doesn’t start when you get birth, but it starts when you get your own identity.” <br><br>
          <small><i>
              Alka Nitin Kalra (Founder, Brain Soul & You)</i>
          </small>
        </h4>
      </div>
      <div class="col-md-12 col-xs-12 text-center">
        <img src="assets/img/slider/about.jpg" style="width: 100%;" />
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="about-content">
          <div>
            <div class="desc-text">
              <p class="text-justify mt-30">
                Today's life in this hustle-bustle world is very complicated. Everyone is spending a huge part of their
                life in making their careers. Due to this, we are hardly spending any time preparing ourselves to
                determine the quality of our life experience and the quality of relationships, health, mindsets, and
                wellbeing. Brain Soul & You is the platform that helps you learn the things which matter most in
                life.<br><br>
                And we are the only platform that works on Split-brain Theory with NLP (Neuro-Linguistic Programming).
                We use fast learning techniques which helps in powerful learning that is the best of its kind in the
                world.

              </p>
              <h4 class="mt-30 text-center">
                “If you don’t have a purpose in your life, so make your purpose to find that purpose.”<br><br>
                <small><i>
                    Saurabh Goel (Founder, Brain Soul & You)</i>
                </small>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="features" class="section">
  <div class="container">
    <div class="section-header">
      <p class="btn btn-subtitle">How we do it !</p>
      <!--<h2 class="section-title">Fast &amp; Awesome Interface</h2>-->

    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p>
          We do it by analyzing brain through the science of Split Brain Theory, Neuron Linguistic Science and with a
          “Brain Dominance Test”.
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="feature-content">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active show" id="free-tab" data-toggle="tab" href="#free" role="tab"
                aria-controls="free" aria-selected="false"><i class="lni-spotify"></i> <br> Split Brain Theory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="massaging-tab" data-toggle="tab" href="#massaging" role="tab"
                aria-controls="massaging" aria-selected="true"><i class="lni-bubble"></i> <br> Neuron Linguistic
                Programming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="safely-tab" data-toggle="tab" href="#safely" role="tab" aria-controls="safely"
                aria-selected="false"><i class="lni-graduation"></i> <br> Brain Dominance Test</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane active fade show" id="free" role="tabpanel" aria-labelledby="free-tab">
              <div class="row justify-content-around">
                <div class="col-md-4 col-xs-12">
                  <div class="about-img-lg">
                    <img class="img-fluid" src="assets/img/split-brain.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-8 col-xs-12">
                  <div class="about-content">
                    <div>
                      <div class="desc-text text-justify">
                        <p>This theory of the structure and functions of the mind suggests that the two different sides
                          of the brain control two different “modes” of thinking. It also suggests that each of us
                          prefers one mode over the other. Experimentation has shown that the two different sides, or
                          hemispheres, of the brain are responsible for different manners of thinking. </p>
                        <p>The result of analysis is accurately depicted in a detailed graphical report. These reports
                          are then comprehended by our expert trainers for counselling. The beauty of Personal Skill
                          Test is that it not only identifies the skill a person has but also provides tools to develop
                          the same, which allows us to examine, assess and develop the required behavioural and
                          technical skill set matching a job profile.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="massaging" role="tabpanel" aria-labelledby="massaging-tab">
              <div class="row justify-content-around">
                <div class="col-md-8 col-xs-12">
                  <div class="about-content ">
                    <div>
                      <div class="desc-text text-justify">
                        <p>What is NLP??? Neuron Linguistic Programming, as the name suggests ‘neuron’ refers to brain,
                          ‘linguistic’ refers to language and ‘programming’ is the installation of a strategy,
                          procedure or plan. NLP is the study of what works in thinking, language, and behaviour. It
                          provides a systematic framework for directing our brain and body. It defines the way how we
                          code and produce excellence which enables us to achieve the results that we want in each area
                          of life.</p>
                        <p> With NLP, you can create a set of strategies that can work for you as to how you will make
                          decisions, build lasting relationships, create excellence in your personal and professional
                          life, communicate to motivate your fellow men, and create balance in your life. NLP is
                          software manual for the bio-computer situated between your two ears. </p>
                        <p>NLP is an effective tool with which you can produce desired results and enjoy peak in your
                          work. It works as a peak performance technique for you. Today, around the world, NLP is being
                          practiced by Therapists, Counsellors, Students, Stage Performers, Sportspersons, CEO’s,
                          Managers, Corporate Executives, Self-Employed People, Businesspersons, Sales and Multi-Level
                          Marketing (MLM) leaders, and Politicians. It is a human tool with which you can produce
                          desired results and enjoy peak in your work. It works as a peak performance technique for
                          you. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div class="about-img-lg">
                    <img class="img-fluid img-thumbnail" src="assets/img/neuron.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="safely" role="tabpanel" aria-labelledby="safely-tab">
              <div class="row justify-content-around mb-30">
                <div class="col-md-8 col-xs-12">
                  <div class="about-content">
                    <div>
                      <div class="desc-text text-justify">
                        <p>The brain is one of the largest and most important organs of the human body. It is the
                          body's control centre. The brain acts as an operator by receiving messages from all over the
                          body and sending messages to their proper destinations. This vital organ is protected by the
                          skull and a three-layered lining called the meninges. It is divided into left and right
                          hemispheres by a thick band of nerve fibres called the corpus callosum.</p>
                        <p>
                          This organ has a wide range of responsibilities. From coordinating movements to managing our
                          five senses, the brain does it all.
                        </p>
                        <p>
                          With the help of Our <b>Brain Dominance Test</b> you can easily and quickly determine what
                          your brain dominance is, i.e. right or left brain oriented. With the result of this
                          questionnaire you will gain into your own thinking preferences through an in-depth study of
                          the different quadrants of the brain. You will come to know about the 8 dimensions of the
                          brain and your most dominant quadrants. We will provide you Whole Brain consultations and
                          will help in developing your untouched quadrants with the help of NLP and re-imprinting of
                          your Subconscious Brain.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div class="about-img-lg">
                    <img class="img-fluid img-thumbnail" src="assets/img/dt1.jpeg" alt="">
                  </div>
                </div>
              </div>
              <div class="row justify-content-around">

                <div class="col-md-12 col-xs-12">
                  <div class="about-content">
                    <div>
                      <div class="desc-text text-justify">
                        <p>
                          Try to answer the questions as honestly with yourself as possible (do not anticipate or guess
                          what might be the right answer) and you will be rewarded with tips about unwanted attitudes
                          weakening you, and the inner hidden capabilities you never knew.
                        </p>
                        <p>
                          The 28 questions relate to present attitudes and interests. Some questions might be too
                          personal for you, but remember that the test and its answers are anonymous.
                        </p>
                        <p>
                          Our Assessment sheet 1 will result, with the present dominance of your brain in 4 quadrants
                          the upper, lower left and the upper, lower right brain.
                        </p>
                        <p>
                          Assessment sheet 2 will result as, in the upper/ lower left or right brain, you getting
                          dominant by which quadrant, out of 8 quadrants of 2 hemispheres.
                        </p>
                        <p>
                          Always remember your brain dominance result could be because of some past experiences or
                          references so with the result of your present profile of brain, we Brain Soul & You starts
                          our work with NLP to Re-imprint your brain and helps you to become a whole brain thinker.
                        </p>
                        <p>
                          In order to achieve optimum test results, do not spend much time thinking about the answers.
                          Give the answer that first comes to mind. Answer honestly with yourself as much as possible
                          with what applies to you presently.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center">
                  <a routerLink="/braintest" class="btn btn-border"><i class="lni-book"></i> Proceed to Questions</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features-two" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="text-wrapper wow fadeInRight animated mt-30" data-wow-delay="0.6s"
          style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          <div>
            <h3>Meet Saurabh Goel</h3>
            <p>Coming from a business family he had two options after completing his graduation with B.Tech either to do
              a job or to join the family business. Having a different point of view he started his startup of rice
              trading. But having a good income was not his satisfaction as he wants his time for himself. He took a
              strong step in giving importance to himself rather than to money. After spending some time in good books,
              he thought to do something for humanity so he started Brain Soul & You.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="img-thumb wow fadeInLeft animated" data-wow-delay="0.3s"
          style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
          <img class="img-fluid" src="/assets/img/s1.jpg" alt="">
        </div>
      </div>


      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="img-thumb wow fadeInLeft animated" data-wow-delay="1.2s"
          style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
          <img class="img-fluid" src="/assets/img/a1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="text-wrapper wow fadeInRight animated mt-30" data-wow-delay="0.9s"
          style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
          <div>
            <h3>Meet Alka Nitin Kalra</h3>
            <p>Coming from a lower-middle-class family she had seen so much of atrocities in her life. After completing
              her graduation with BA and post-graduation in MBA, she started her career in the corporate sector and then
              into Fashion Designing. She also started her own Fashion Studio "Kiana, The Fashion Studio". Slowly and
              gradually she started studying deep down about the human brain and psychology and became a qualified
              practitioner. So by Brain Soul and You she is trying to implement all of her experiences and knowledge in
              such a way that it spreads positivity, humanity, and motivation towards life.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Our Expertise</h2>
    </div>
    <img src="assets/img/exp.png" style="width:100%" alt="Expertise" />
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Clients Who Loved Us</h2>
    </div>
    <div class="row justify-content-center">
      <div class="card col-md-8">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
          <div class="w-100 carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption">
                <p>The workshop "Enhance your inner resources by NLP" by Alka Kalra and Saurabh Goel was worth
                  attending...... I can feel the positive Aura around me...... as it was my first experience to join
                  Brain Soul & You Event.... & I must say they are very much effective with their inner voice. It was an
                  impactful workshop and I am looking forward for more such workshops</p>
                <small class="smallest mute">- Priyanka Taneja</small>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <p>Alka is a great person. She worked with us in our orphanage. She is very kind & compassionate. May
                  God bless her with great success in life.</p>
                <small class="smallest mute">- Rani Lall</small>
              </div>
            </div>
          </div>
          <div class="float-right navi">
            <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>