<!-- <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><img id="header" src="assets/img/logo2.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="lni-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/gallery">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/contact" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" >Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/braintest">Brain Test</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><img id="header" src="assets/img/logo2.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="lni-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/about">About</a>
        </li>
        <!-- <li class="nav-item">
                  <a class="nav-link page-scroll" href="http://test.brainsoulnyou.com/braintest">Counselling</a>
              </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Counselling
          </a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="http://www.brainsoulnyou.com/home/careercounselling">&nbsp; Career Counselling</a></li>
            <li>
              <a class="dropdown-item" href="http://www.brainsoulnyou.com/home/relationshipcounselling">&nbsp; Relationship Counselling</a>
            </li>
            <li>
              <a class="dropdown-item" href="http://www.brainsoulnyou.com/home/corporatecounselling">&nbsp; Corporate Counselling</a>
            </li>
            <li>
              <a class="dropdown-item" href="http://www.brainsoulnyou.com/home/personalcounselling">&nbsp; Personal Counselling</a>
            </li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link page-scroll" href="#">Training</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Channels
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">&nbsp; Courses</a>
            <a class="dropdown-item" href="">&nbsp; Wellness Program</a>
            <a class="dropdown-item" href="">&nbsp; Gratitude Cards</a>
            <a class="dropdown-item" href="">&nbsp; Our Trainer</a>
            <a class="dropdown-item" href="">&nbsp; BSY Talks</a>
            <a class="dropdown-item" href="">&nbsp; BSY Podcast</a>
            <a class="dropdown-item" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"
              target="_blank">&nbsp; Youtube</a>
            <a class="dropdown-item" href="https://twitter.com/BrainSoulYou1" target="_blank">&nbsp; Twitter</a>
            <a class="dropdown-item" href="https://www.facebook.com/brainsoulnyou/" target="_blank">&nbsp; Facebook</a>
            <a class="dropdown-item" href="https://www.instagram.com/brainsoulnyou/" target="_blank">&nbsp;
              Instagram</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/brain-soul-and-you-025084174/"
              target="_blank">&nbsp; LinkedIn</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://blogs.brainsoulnyou.com/" target="_blank">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div id="socialmedia">
      <ul style="list-style: none">
        <li><a class="fb" href="https://www.facebook.com/brainsoulnyou/" target="_blank">Follow via Facebook</a></li>
        <li><a class="twi" href="https://twitter.com/BrainSoulYou1" target="_blank">Follow via Twitter</a></li>
        <li>
          <a class="yt" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank">
            Follow via
            YouTube
          </a>
        </li>
        <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/" target="_blank">Follow via Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</nav>