<div id="socialmedia">
  <ul style="list-style: none">
    <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a></li>
    <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a></li>
    <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
        YouTube</a></li>
    <li><a href="https://www.pinterest.it/brainsoulnyou/motivational-quotes/" target="_blank" class="pint">Follow via
        Pinterest</a></li>

  </ul>
</div>
<!-- <div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i class="lni-facebook-filled"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
    <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i
          class="lni-display"></i></a></li>
    <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i class="lni-instagram-filled"></i></a></li>
  </ul>
</div> -->
<header id="home">

  <section class="site-blocks-cover overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center">
          <div class="row">
            <div class="col-lg-11">
              <h1>We are <span class="txt-rotate" data-period="2000"
                  data-rotate='[ "Motivational Speakers.", "NLP TRAINERS.", "Brain Analysts.", "Counsellors." ]'></span>
              </h1>
              <p>Charge your Brain and Personality with a positive attitude and amplify your Inner Strengths.
                <br>Experience
                a lifelong adventure at Brain Soul & You.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">

    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/slider/s4.jpg" alt="" width="100%">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/s5.jpg" alt="" width="100%">
        </div>
        <div class="carousel-item">
          <img src="assets/img/slider/s2.jpg" alt="" width="100%">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>



</header>
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-12 col-xs-12">
        <h3>The pressure of the becoming a successful person has
          overburdened our true potentials. We teach the world the
          art of nourishing a person true identity not only from the brain but soul too.</h3>
      </div>
      <!-- <div class="col-md-12 col-xs-12">
        <div class="about-content">
          <div>
            <div class="desc-text">
              <p class="text-justify mt-30">
                Years after years we have spent running for our careers and gradually loosing most
                of the valuable things that really matter for determining the quality of our life
                experience. Brain Soul & You prepares and grooms your personality, Health, the
                quality of relationships, mindset and wellbeing.<br>
                And we do it by analysing brain through the science of Split Brain Theory, Neuron
                Linguistic Science and with a “Brain Dominance Test”. Brain Soul & You brings you
                a powerful learning platform that is the best of its kind in the world and provides best
                teachers to provide knowledge about modulating weaknesses into your strengths so
                that you can realise your hidden potentials.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="row justify-content-around">
      <!-- <div class="col-md-12 col-xs-12">
        <h3>Experience a lifelong adventure at Brain Soul &amp; You</h3>
      </div> -->
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="about-content">
          <div>
            <div class="desc-text">
              <p class="text-justify mt-30">
                The Brain Soul &amp; You curriculum is designed to unbridle the fullest potential of your mind,
                body, and spirit. It’s about being an allrounder not only at work but in life also. Having a
                healthy, youthful, energetic body, Experiencing unbreakable joy, love, and fulfillment.
                Communicating people with full confidence, connecting deeply with the them, conveying
                your messages in more effective way and communities around you. And spreading positivity
                to the people around you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12 wow fadeInRight animated" data-wow-delay="0.3s"
        style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <div class="about-img mt-30">
          <img class="img-thumbnail" src="assets/img/img.jpg" alt="About Brain Soul & You">
        </div>
      </div>
    </div>
  </div>
</section>

<div id="features" class="section">
  <div class="container">
    <div class="section-header mb-4 pb-4">
      <h2 class="section-title">Founders</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            <div class="img-thumb wow fadeInLeft text-center" data-wow-delay="0.3s">
              <img class="img-fluid pics" src="assets/img/pic2.jpg" alt="Alka Nitin Kalra">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
              <div class="profile">
                <p class="btn btn-subtitle">Alka Nitin Kalra</p>
                <h6 class="bl">
                  Founder and Trainer<br />Brain Soul & You.
                </h6>
                <p>
                  Bachelors HRM – DU<br />
                  MBA HRM – MDU<br />
                  Practitioners – Split Brain Theory and NLP
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="border-left:1px solid #ddd">
        <p class="pic-des">Brain Analyst, Counsellor, Trainer and Coach for Education(Career), Corporate, Parenting,
          Relationship and Individual, Motivational Trainer.</p><br />
        <p class="text-justify">
          Working on a mission to harness the highest potential of mankind years and has helped many through her
          counselling sessions and trainings.<br />
          Works on behaviour analysis, inter-personal relationship, professional relationship, impact analysis, career
          selection and counselling. Trainings on Relationship, Parenting, TEAM, Happy Life, Leadership & Whole Brain
          Thinking, and NLP Subconscious Re-imprinting.
        </p>
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-sm-6">
        <div class="row" style="border-right:1px solid #ddd">
          <div class="col-sm-4">
            <div class="img-thumb wow fadeInLeft text-center" data-wow-delay="0.3s">
              <img class="img-fluid pics" src="assets/img/pic1.jpg" alt="Saurabh Goel">
            </div>
          </div>
          <div class="col-sm-8">
            <div class="text-wrapper wow fadeInRight" data-wow-delay="0.6s">
              <div class="profile">
                <p class="btn btn-subtitle">Saurabh Goel</p>
                <h6 class="bl">
                  Director and Co – Trainer<br />
                  Brain Soul & You
                </h6>
                <p>
                  B.TECH – IT<br />
                  Practitioners - NLP<br />&nbsp;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="pic-des">
          Trainer for Corporate, Entrepreneurship, Subconscious Brain analyst and Life Coach.
        </p><br />
        <p class="text-justify">
          Highly motivated Entrepreneur, an expertise in counselling and Trainings. Demonstrates ability to use
          Subconscious mind and its Application effectively with a diversified list of clients.
        </p>
      </div>
    </div>
  </div>
</div>
<section id="team" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Our Expert Team</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="single-team">
          <div class="team-thumb">
            <img src="assets/img/team1.jpg" alt="">
            <ul class="social-list">
              <li class=""><a href=""></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <!-- <li class="facebook"><a href="#"><i class="lni-facebook-filled"></i></a></li>
              <li class="twitter"><a href="#"><i class="lni-twitter-filled"></i></a></li>
              <li class="google-plus"><a href="#"><i class="lni-google-plus"></i></a></li>
              <li class="linkedin"><a href="#"><i class="lni-linkedin-fill"></i></a></li> -->
            </ul>
          </div>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Surashree</h4>
              <a href="">  <p>It's important to be motivated for a better today and the best future. Surashree is the motivational speaker in Brain Soul and You who shares her thoughts and encourages people to build their future in the strongest forms.</p></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-team">
          <div class="team-thumb">
            <img src="assets/img/team2.jpg" alt="">
            <ul class="social-list">
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
            </ul>
          </div>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Dr. Sahi</h4>
              <p>Laughter is the best therapy that can make anything better. Intending to heal people by laughter yoga our Expert Dr. Sahi who is an expert in laughter yoga from years is trying to make each and everyone’s life a better life.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="single-team">
          <div class="team-thumb">
            <img src="assets/img/team3.jpg" alt="">
            <ul class="social-list">
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
            </ul>
          </div>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Aira</h4>
              <p>
                <!-- Beauty begins when you decide to love yourself.  -->
                Positive sounds help one feel relaxed and keeps away anxiety. At Brain Soul & You, Ms. Aira - a great sound healer, hypnotherapist and coach for self-love is trying to make people realize why it is important to love yourself.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="single-team">
          <div class="team-thumb">
            <img src="assets/img/team4.jpg" alt="">
            <ul class="social-list">
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
              <li class=""><a></a></li>
            </ul>
          </div>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Sahayaa</h4>
              <p>
                <!-- Healing with life energy is known as one of the best therapy.  -->
                Polarity therapy is an alternative therapy that involves balancing the flow of energy in the body to improve / maintain health. Ms. Sahayaa - an expert polarity therapist and Reiki master is trying to heal people with life energy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="video">
  <div class="container-fluid parallax">
    <div class="row justify-content-center">
      <div class="col-lg-8 mt-30 mb-30" *ngIf="videoUrl">
        <iframe class="video" style="height:470px; width:100%;" [src]="videoUrl" frameborder="0"
          scrolling="no"></iframe>
      </div>
    </div>
  </div>
</section>
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Our Expertise</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.2s"
          style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
          <div class="icon">
            <i class="lni-list"></i>
          </div>
          <h4>Effective Decision Making</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s"
          style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <div class="icon">
            <i class="lni-thought"></i>
          </div>
          <h4>Creative Thinking</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.6s"
          style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          <div class="icon">
            <i class="lni-support"></i>
          </div>
          <h4>Effective Communication</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.8s"
          style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
          <div class="icon">
            <i class="lni-code"></i>
          </div>
          <h4>Soft Skill Development</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="1s"
          style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
          <div class="icon">
            <i class="lni-users"></i>
          </div>
          <h4>Interpersonal Relationships</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="1.2s"
          style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
          <div class="icon">
            <i class="lni-headphone-alt"></i>
          </div>
          <h4>Self Awareness / Mindfulness</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.2s"
          style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
          <div class="icon">
            <i class="lni-timer"></i>
          </div>
          <h4>Time Management</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.4s"
          style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
          <div class="icon">
            <i class="lni-emoji-smile"></i>
          </div>
          <h4>Stress Free Life</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.6s"
          style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          <div class="icon">
            <i class="lni-user"></i>
          </div>
          <h4>Self Confidence</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="0.8s"
          style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
          <div class="icon">
            <i class="lni-plus"></i>
          </div>
          <h4>Positive Behavior</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="1s"
          style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
          <div class="icon">
            <i class="lni-check-box"></i>
          </div>
          <h4>Understanding Of Your Goal</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="services-item wow fadeInDown animated" data-wow-delay="1.2s"
          style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
          <div class="icon">
            <i class="lni-book"></i>
          </div>
          <h4>Productive Life Style</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section" id="gallery">
  <div class="container">
    <div class="section-header mt-30">
      <h2 class="section-title">Gallery</h2>
    </div>
    <div class="tz-gallery">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g1.jpg">
            <img src="assets/img/gallery/g1.jpg" />
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g2.jpg">
            <img src="assets/img/gallery/g2.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g3.jpg">
            <img src="assets/img/gallery/g3.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g4.jpg">
            <img src="assets/img/gallery/g4.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g5.jpg">
            <img src="assets/img/gallery/g5.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g6.jpg">
            <img src="assets/img/gallery/g6.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g7.jpg">
            <img src="assets/img/gallery/g7.jpg" alt="Coast">
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g8.jpg">
            <img src="assets/img/gallery/g8.jpg" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <a class="lightbox" href="assets/img/gallery/g9.jpg">
            <img src="assets/img/gallery/g9.jpg" alt="">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- <section id="blog" class="section">

  <div class="container">
    <div class="section-header">
      <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
        style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
        Blog</p>
      <h2 class="section-title">Recent News</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">

        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="img/blog/img1.jpg" alt="">
            </a>
            <div class="author-img">
              <img src="img/blog/author.png" alt="">
            </div>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">How Proton Will Transform Your Business</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">

        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="img/blog/img2.jpg" alt="">
            </a>
            <div class="author-img">
              <img src="img/blog/author.png" alt="">
            </div>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">20 Growth Hacking Tips from Experts</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">

        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="img/blog/img3.jpg" alt="">
            </a>
            <div class="author-img">
              <img src="img/blog/author.png" alt="">
            </div>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">Proton Has Been Launched, Get Started!</a></h3>
            <div class="author">
              <span class="name"><a href="#">Posted by Admin</a></span>
              <span class="date float-right">10 April, 2020</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->

<section class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Clients Who Loved Us</h2>
    </div>
    <div class="row justify-content-center">
      <div class="card col-md-8">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
          <div class="w-100 carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption">
                <p>The workshop "Enhance your inner resources by NLP" by Alka Kalra and Saurabh Goel was worth
                  attending...... I can feel the positive Aura around me...... as it was my first experience to join
                  Brain Soul & You Event.... & I must say they are very much effective with their inner voice. It was an
                  impactful workshop and I am looking forward for more such workshops</p>
                <small class="smallest mute">- Priyanka Taneja</small>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <p>Alka is a great person. She worked with us in our orphanage. She is very kind & compassionate. May
                  God bless her with great success in life.</p>
                <small class="smallest mute">- Rani Lall</small>
              </div>
            </div>
          </div>
          <div class="float-right navi">
            <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="video-promo section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-12 col-xs-12">
        <div class="sub-title text-center ">
          <h3 class="white">Feel Free To Contact</h3>
          <div class="row mt-30">
            <div class="col-sm-6 mail">
              <img src="assets/img/mail.png" alt="Mail Icon" class="cont" /><span><a
                  href="mailto:info@brainsoulnyou.com">info@brainsoulnyou.com</a></span>
            </div>
            <div class="col-sm-6">
              <img src="assets/img/call.png" alt="Call Icon" class="cont" /><span>+91 9813533313</span><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="contact1" class="section">
  <div class="contact-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-offset-2 col-md-8 col-xs-12 mt-30">
          <div class="contact-block wow fadeInUp animated" data-wow-delay="0.2s"
            style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <div class="section-header">
              <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
                style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                Registration
                Form</p>
              <!--<h2 class="section-title">Love to Hear From You</h2>-->
            </div>
            <form #f="ngForm" (ngSubmit)="f.valid && contactUs()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="model.FirstName" #FirstName="ngModel"
                      name="FirstName" placeholder="Name" required="" data-error="Please enter your name">
                    <div class="help-block with-errors"
                      *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched || f.submitted)">
                      <small class="error" *ngIf="FirstName.errors.required">
                        FirstName is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control" [(ngModel)]="model.Age" #Age="ngModel" name="Age"
                      placeholder="Age" required="" data-error="Please enter your name">
                    <div class="help-block with-errors" *ngIf="Age.errors && (Age.dirty || Age.touched || f.submitted)">
                      <small class="error" *ngIf="Age.errors.required">
                        Age is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="model.Profession" #Profession="ngModel"
                      name="Profession" placeholder="Profession" required="" data-error="Please enter your profession">
                    <div class="help-block with-errors"
                      *ngIf="Profession.errors && (Profession.dirty || Profession.touched || f.submitted)">
                      <small class="error" *ngIf="Profession.errors.required">
                        Profession is required.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Contact no." minlength="10" maxlength="10"
                      (keypress)="numberOnly($event)" [(ngModel)]="model.ContactNumber" #ContactNumber="ngModel"
                      name="ContactNumber" class="form-control" x required=""
                      data-error="Please enter your contact no.">
                    <div class="help-block with-errors"
                      *ngIf="ContactNumber.errors && (ContactNumber.dirty || ContactNumber.touched || f.submitted)">
                      <small class="error" *ngIf="ContactNumber.errors.required">
                        ContactNumber is required.
                      </small>
                      <small class="error" *ngIf="ContactNumber.errors.minlength && !ContactNumber.errors.required">
                        Minimum 10 digit.
                      </small>
                      <small class="error" *ngIf="ContactNumber.errors.maxlength && !ContactNumber.errors.required">
                        Maximum 10 digit.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" placeholder="Email" [(ngModel)]="model.Email" emailvalidator #Email="ngModel"
                      name="Email" class="form-control" required data-error="Please enter your email">


                    <div *ngIf="Email.errors && (Email.dirty || Email.touched || f.submitted)">
                      <small class="error" *ngIf="Email.errors.required">
                        The Email address is required.
                      </small>
                      <small class="error" *ngIf="Email.errors.emailvalidator && !Email.errors.required">
                        Please provide a valid email address.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" [(ngModel)]="model.Message" #Message="ngModel" name="Message"
                      placeholder="Message" rows="25" data-error="Write your message" required=""></textarea>
                    <div class="help-block with-errors"
                      *ngIf="Message.errors && (Message.dirty || Message.touched || f.submitted)">
                      <small class="error" *ngIf="Message.errors.required">
                        Message is required.
                      </small>
                    </div>
                  </div>
                  <div class="submit-button">
                    <button class="btn btn-common btn-effect disabled" id="submit" type="submit"
                      style="pointer-events: all; cursor: pointer;">Register</button>
                    <div id="msgSubmit" class="h3 hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="text-align:center;">
  {{message}}
</div>
<!-- <div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />
</div> -->
<app-footer [totalVisit]="totalVisit"></app-footer>
<a href="https://api.whatsapp.com/send?phone=919817591236&text=Hello.. Brain Soul and You" target="_blank"
  class="back-top">
  <img src="assets/img/wa.png">
</a>
<script>
  $(document).ready(function () {
    var showChar = 100;
    var ellipsestext = "...";
    var moretext = "more";
    var lesstext = "less";
    $('.more').each(function () {
      var content = $(this).html();

      if (content.length > showChar) {

        var c = content.substr(0, showChar);
        var h = content.substr(showChar - 1, content.length - showChar);

        var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

        $(this).html(html);
      }

    });

    $(".morelink").click(function () {
      if ($(this).hasClass("less")) {
        $(this).removeClass("less");
        $(this).html(moretext);
      } else {
        $(this).addClass("less");
        $(this).html(lesstext);
      }
      $(this).parent().prev().toggle();
      $(this).prev().toggle();
      return false;
    });
  });
</script>