<app-header></app-header>
<div id="socialmedia">
  <ul style="list-style: none">
    <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a></li>
    <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
        YouTube</a></li>
    <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a></li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i class="lni-facebook-filled"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
    <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i
          class="lni-display"></i></a></li>
    <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i class="lni-instagram-filled"></i></a></li>
  </ul>
</div>
<header id="home">
</header>

<section class="video-promo section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="video-promo-content text-center mt-4">
          <h1>Brain Soul & You </h1><br />
          <h4>Our Aim is to spread Positivity, Humanity and Motivation</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="section pb-0">
  <div class="container">
    <div class="section-header">
      <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
        style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
        Questionnaire</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="single-feature">
          <i class="lni-user"></i>
          <h5>Know About Yourself </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="single-feature">
          <i class="lni-bubble"></i>
          <h5>Your Preferences, Your Brain</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="single-feature">
          <i class="lni-pencil-alt"></i>
          <h5>Learn Whole Brain Utilization</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="counter" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Instruction: Please read it properly before you proceed.</h2>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <p>
          This unique questionnaire will help you in your entire life to reach you at whole brain
          Utilization it’s a process to make you aware about your preferences by this you can
          Become so eligible to make your decisions beyond to your preferences.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="counter-text">
          <div>
            <p class="btn btn-subtitle">Brain Test Assessment sheet 1</p>
            <h3>Instructions</h3>
            <div class="desc-text">
              <p>
                You will be given 20 questions and each question has four options.<br />
                You have to select the options as 1 to 4 according to your preferences.<br />
                Like the options which you think is most appropriate, mark it as 1 and then 2 then 3 and last 4 as per
                your preference.
              </p>
              <b>
                PLEASE REMEMBER:
              </b>
              There are no tick right and wrong answers.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="counter-text">
          <div>
            <p class="btn btn-subtitle">Brain Test Assessment sheet 2</p>
            <h3> Instructions</h3>
            <div class="desc-text">
              <p>
                In this Assessment sheet each question is containing two options in every 4 boxes, you just need to
                select one option as per your preference in every box. Remember to click one option in each box.
                <br />
                Hope you will enjoy this test.<br />
                Please proceed now to the journey of Whole Brain Utilization.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="!showCodeDiv ">'
  '<form #f2="ngForm" (ngSubmit)="f2.valid &&f2.submitted && onSubmit()">
    <section id="contact1" class="section">
      <div class="contact-form" id="braintest1">
        <div class="container">
          <div class="row justify-content-center">
            <p style="text-align:center;color:green">{{mesaage}}</p>
          </div>
          <div class="row justify-content-center" *ngIf="showdetailform">
            <div class="col-md-12 mb-4">
              <p> Fill up all your details properly, your unique brain test code must be sent by email or message as it
                will be necessary at the time of assessment.</p>

            </div>
            <div class="col-md-offset-2 col-md-8 col-xs-12 mb-4">
              <div class="contact-block wow fadeInUp animated" data-wow-delay="0.2s"
                style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <div class="section-header">
                  <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
                    style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    Please
                    fill in the details</p>
                </div>

                <div class="row">
                  <div class="col-md-7">
                    <label class="text-l">Enter your name</label>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="model.Name" #Name="ngModel" name="Name"
                        required placeholder="Name">
                      <div class="help-block with-errors" *ngIf="Name.errors && f2.submitted ">
                        <small class="error" *ngIf="Name.errors.required">
                          Name is required.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <label class="text-l">Enter your age</label>
                    <div class="form-group">
                      <input type="number" class="form-control" [(ngModel)]="model.Age" #Age="ngModel" name="Age"
                        placeholder="Age" required="" style="padding:6px">
                      <div class="help-block with-errors"
                        *ngIf="Age.errors && (Age.dirty || Age.touched || f2.submitted)">
                        <small class="error" *ngIf="Age.errors.required">
                          Age is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <label class="text-l">Enter Contact Number</label>
                    <div class="form-group">
                      <input type="text" [(ngModel)]="model.Mobile" required name="Mobile" #Mobile="ngModel"
                        placeholder="Contact no." class="form-control" minlength="10" maxlength="10"
                        (keypress)="numberOnly($event)" />
                      <div class="help-block with-errors"
                        *ngIf="Mobile.errors && (Mobile.dirty || Mobile.touched || f2.submitted)">
                        <small class="error" *ngIf="Mobile.errors.required">
                          Contact Number is required.
                        </small>
                        <small class="error" *ngIf="Mobile.errors.minlength && !Mobile.errors.required">
                          Minimum 10 digit.
                        </small>
                        <small class="error" *ngIf="Mobile.errors.maxlength && !Mobile.errors.required">
                          Maximum 10 digit.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="text-l">Select Gender</label>
                      <select [(ngModel)]="model.Gender" placeholder="Gender" required name="Gender" #Gender="ngModel"
                        class="form-control" style="height:48.5px">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <div class="help-block with-errors" *ngIf="Gender.errors && f2.submitted ">
                        <small class="error" *ngIf="Gender.errors.required">
                          Gender is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="text-l">Enter Email Id</label>
                    <div class="form-group">
                      <input type="text" [(ngModel)]="model.Email" required name="Email" #Email="ngModel"
                        placeholder="Email" class="form-control" />
                      <div *ngIf="Email.errors && (Email.dirty || Email.touched || f2.submitted)" class="with-errors">
                        <small class="error" *ngIf="Email.errors.required">
                          The Email Id is required.
                        </small>
                        <small class="error" *ngIf="Email.errors.emailvalidator && !Email.errors.required">
                          Please provide a valid email address.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="text-l">Your Profession</label>
                    <div class="form-group">
                      <input type="text" class="form-control" [(ngModel)]="model.ProfileType" #ProfileType="ngModel"
                        name="ProfileType" required placeholder="Profession">
                      <div class="help-block with-errors" *ngIf="ProfileType.errors && f2.submitted ">
                        <small class="error" *ngIf="ProfileType.errors.required">
                          Profession is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="submit-button">
                      <button class="btn btn-common btn-effect disabled" id="submit" type="submit"
                        style="pointer-events: all; cursor: pointer;">Submit</button>
                      <div id="msgSubmit" class="h3 hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">


            </div>
          </div>
        </div>
      </div>
    </section>
  </form>


</div>
<div *ngIf="showCodeDiv">
  <section id="contact1" class="section">
    <div class="contact-form">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 mb-4">
            <!-- <p> Fill up all your details properly, your unique brain test code must be sent by email or message as it
              will be necessary at the time of assessment.</p> -->
          </div>
          <div class="col-md-offset-2 col-md-8 col-xs-12 mb-4">
            <div class="contact-block wow fadeInUp animated" data-wow-delay="0.2s"
              style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              <div class="section-header">
                <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
                  style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                  Please enter 7 digit code.</p>
              </div>
              <form #f1="ngForm" (ngSubmit)="f1.valid && ValidateCode()">
                <div class="row">

                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Brain Test Code" class="form-control" maxlength="7"
                        minlength="6" [(ngModel)]="model.BrainTestCode" #BrainTestCode="ngModel" name="BrainTestCode"
                        required data-error="Please enter your unique brain test code">
                      <div class="help-block with-errors"
                        *ngIf="BrainTestCode.errors && (BrainTestCode.dirty || BrainTestCode.touched || f1.submitted)">
                        <small class="error" *ngIf="BrainTestCode.errors.required">
                          BrainTestCode is required.
                        </small>
                      </div>
                    </div>
                  </div>





                  <div class="col-md-12">
                    <div class="submit-button">
                      <button class="btn btn-common btn-effect disabled" id="submit" type="submit"
                        style="pointer-events: all; cursor: pointer;">Submit</button>
                      <div id="msgSubmit" class="h3 hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12">
            <div>
              <label>
                {{errorMessage}}
              </label>
            </div>

            <!-- <a routerLink="/assessment-one" class="btn btn-border">Continue <i class="lni-arrow-right"></i></a> -->

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />

</div>

<footer>
  <app-footer></app-footer>
</footer>
