<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll active" href="http://brainsoulnyou.com/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/gallery">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link page-scroll" href="http://brainsoulnyou.com/home/contact">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="http://brainsoulnyou.com/braintest">Brain Test</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</header>
<div class="thank-you-pop">
  <span>
    <i class="fa fa-check"></i>
  </span>
  <h1 style="color:green">Thank You!</h1>
  <p>Your payment has been received, you will soon get a confirmation message by email.</p>
  <!-- <h3 class="cupon-pop">Your Id: <span>12345</span></h3> -->

</div>
