<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li>
      <a class="facebook" href="https://www.facebook.com/brainsoulnyou/">
        <i class="lni-facebook-filled"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/BrainSoulYou1">
        <i class="lni-twitter-filled"></i>
      </a>
    </li>
    <li>
      <a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw">
        <i class="lni-display"></i>
      </a>
    </li>
    <li>
      <a class="insta" href="https://www.instagram.com/brainsoulnyou/">
        <i class="lni-instagram-filled"></i>
      </a>
    </li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll active" routerLink="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div *ngIf="!showQusetion">
  <section class="video-promo section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="video-promo-content text-center mt-4">
            <h1>Brain Assessment Sheet 2</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="counter-text">
          <div>
            <p class="btn btn-subtitle">Brain Test Assessment sheet 2</p>
            <h3> Instructions</h3>
            <div class="desc-text">
              <p>
                In this Assessment sheet each question is containing two options in every 4 boxes, you just need to select one option as
                per your preference in every box. Remember to click one option in each box.
                <br /> Hope you will enjoy this test.
                <br /> Please proceed now to the journey of Whole Brain Utilization.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="counter" class="section">
    <!-- <form id="answerForm" qusetion="ngForm"> -->

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="questionsBox" *ngFor="let item of this.questions">
            <div class="questions">Question {{item.QuestionId}}</div>
            <ul class="answerList" *ngFor="let subitem of item.Options">
              <li>
                <div class="form-check">
                  <label>
                    <div *ngFor="let subitem2 of subitem.Items">
                      <input type="radio" id="{{subitem2.Id}}" name="{{subitem2.Name}}" (change)="handleChange($event,subitem.OptionId,item.QuestionId,subitem2.Answer)">{{subitem2.Description}}
                    </div>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center mt-4 errorMeassage">
        <span style="color:brown">{{errorMeassage}}</span>
      </div>
      <div class="row">
        <div class="col-md-12 text-center mt-4">
          <input type="submit" class="btn btn-border btn-sm" value="Submit" (click)="Submit()">
        </div>
      </div>
    </div>
    <!-- </form> -->


  </section>
</div>
<div *ngIf="showQusetion">
  <div class="container" style="margin-top:4em">
    <div class="row mt-50 mb-50">
      <div class="col-sm-4 offset-sm-4 col-xs-12">
        <div class="single-feature">
          <i class="lni-emoji-smile"></i>
          <h5>Thanks for the submission of questionnaire. We will get back to you with the results within 24 hours.</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- <div style="padding:50px 0;text-align:center;margin-top:5%;">

    <h2></h2>
  </div> -->
  <app-footer></app-footer>
</div>

<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />

</div>



<footer *ngIf="!showQusetion">
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>© 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>