<div class="container" id="contact1">
  <div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
    <img src="assets/img/loader.gif" />
  </div>
  <div class="row justify-content-center">
    <div class="col-md-offset-4 col-md-4 col-xs-12 mb-4  center-wind">
      <form #f2="ngForm" (ngSubmit)="f2.valid && submit()">
        <div class="contact-block">
          <div class="section-header">
            <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
              style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
            <span *ngIf="!id">Add</span> <span *ngIf="id">Update</span> Institute
            </p>
          </div>


          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="College Name" required
                [(ngModel)]="model.collegeName" name="CollegeName" #CollegeName="ngModel">
            </div>
          </div>
          <div class="help-block with-errors" *ngIf="CollegeName.errors && f2.submitted ">
            <small class="error" *ngIf="CollegeName.errors.required">
              College Name is required
            </small>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="College Url" required
                [(ngModel)]="model.collegeUrl" name="CollegeUrl" #CollegeUrl="ngModel">
            </div>
          </div>
          <div class="help-block with-errors" *ngIf="CollegeUrl.errors && f2.submitted ">
            <small class="error" *ngIf="CollegeUrl.errors.required">
              College Url is required
            </small>
          </div>

          <div class="col-md-12">
            <input class="btn btn-common btn-effect" type="submit" value="submit"><br>
            <div *ngIf="message">
              {{message}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>