
<div class="video-promo section mt-30">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-12 col-xs-12">
        <div class="sub-title text-center ">
          <h3 class="white">Feel Free To Contact</h3>
          <div class="row mt-30">
            <div class="col-sm-6 mail">
              <img src="assets/img/mail.png" alt="Mail Icon" class="cont" /><span><a
                  href="mailto:info@brainsoulnyou.com">info@brainsoulnyou.com</a></span>
            </div>
            <div class="col-sm-6">
              <img src="assets/img/call.png" alt="Call Icon" class="cont" /><span>+91 9813533313</span><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="map-area">
  <div class="container">
    <div class="section-header">
      <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
        style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
        Our Location</p>
    </div>
    <div class="row">
      <div class="col-12 padding-0">
        <object style="border:0; height: 450px; width: 100%;"
          data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7014.899545761456!2d77.2943779712299!3d28.46599849061314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjjCsDI3JzUyLjEiTiA3N8KwMTcnNTYuMSJF!5e0!3m2!1sen!2sin!4v1580315039609!5m2!1sen!2sin"></object>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>