
<section id="blog" class="section">

    <div class="container">
    <div class="section-header">
    <!-- <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Blog</p> -->
    <h2 class="section-title">Recent News</h2>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="assets/img/img1.jpg" alt="">
    </a>
    <div class="author-img">
    <img src="assets/img/author.png" alt="">
    </div>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">How Proton Will Transform Your Business</a></h3>
    <div class="author">
    <span class="name"><a href="#">Posted by Admin</a></span>
    <span class="date float-right">10 April, 2020</span>
    </div>
    </div>
    </div>
    
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="assets/img/img2.jpg" alt="">
    </a>
    <div class="author-img">
    <img src="img/blog/author.png" alt="">
    </div>
    </div>
    <div class="blog-item-text">
    <h3><a href="single-post.html">20 Growth Hacking Tips from Experts</a></h3>
    <div class="author">
    <span class="name"><a href="#">Posted by Admin</a></span>
    <span class="date float-right">10 April, 2020</span>
    </div>
    </div>
    </div>
    
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
    
    <div class="blog-item-wrapper">
    <div class="blog-item-img">
    <a href="single-post.html">
    <img src="assets/img/img3.jpg" alt="">
    </a>
    <div class="author-img">
    <img src="assets/img/author.png" alt="">
    </div>
    </div>
     <div class="blog-item-text">
    <h3><a href="single-post.html">Proton Has Been Launched, Get Started!</a></h3>
    <div class="author">
    <span class="name"><a href="#">Posted by Admin</a></span>
    <span class="date float-right">10 April, 2020</span>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </section>
    <div id="about">
    </div>
    <section class="section mt-1">
      <div class="container mt-10">
        <div class="row justify-content-around">
          <div class="col-md-12 col-xs-12">
            <h3>About Brain Soul & You</h3>
            <span _ngcontent-c3="" class="name"><a _ngcontent-c3="" href="#">Posted by Admin</a></span>
            <span _ngcontent-c1="" class="date float-right">10 April, 2020</span>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 wow fadeInRight animated" data-wow-delay="0.3s"
            style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <div class="about-img mt-30">
              <img class="img-thumbnail" src="assets/img/img.jpg" alt="About Brain Soul & You">
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-12">
            <div class="about-content">
              <div>
                <div class="desc-text">
                  <p class="text-justify mt-30">
                    Our company Brain Soul & You is providing Specialized
                    Trainings, Counselling and Development Programs. We have
                    established an excellent track record for the best customer
                    satisfaction.<br>
                    We believe in delivering quality learning & development
                    solutions having a direct and measurable impact through our
                    unique research that is the combination of <b>Split Brain Theory
                      and NLP.</b>
                    <br>
                    Our vision is to spread Positivity, Humanity & Motivation by
                    developing people through <b>“SPLIT BRAIN THEORY”</b> and <b>“NLP
                      SUBCONSCIOUS REIMPRINTING”.</b><br>
                    We believe in nourishing a person from brain to soul.
                    Our mission is not just only rectifying your weaknesses but we
                    focus on amplifying your inner strengths too.
                    We are working on making individuals as well as professionals
                    aware of their own and other people’s thinking styles so as to
                    develop their skills to realise their hidden potential.
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>


<app-footer></app-footer>
