<div id="socialmedia">
  <ul style="list-style: none">
    <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a></li>
    <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
        YouTube</a></li>
    <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a></li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i class="lni-facebook-filled"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
    <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i
          class="lni-display"></i></a></li>
    <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i class="lni-instagram-filled"></i></a></li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/userlist">UserList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/videos">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/images">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/promoCodes">PromoCode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/institute-list">Generate Institute Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/institute-result">Institute-Wise Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/quotes">Quotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container" style="margin-top: 6em">
  <h1>Add Quotes</h1>
  <div class="col-sm-12 buttons"  style="margin-top: 6em">
    <form>
    <input type="file" name="file" id="file" accept="image/*" (change)="onFileChanged($event)" />
    <input type="submit" value="Save" (click)="onUpload()" class="btn btn-sm btn-success">
  </form>
  <div *ngIf="imgURL" class="img-container">
  <img [src]="imgURL" height="150px" width="100px">
  <!-- <button type="button" (click)="removeImage()" class="btn"><i class="fa fa-close"></i></button> -->
  </div>
  </div>
  <div class="row"  style="margin-top: 6em">
    <div class="col-sm-12">
      <h1>Quotes </h1>
      <div class="table-responsive">
        <table class='table table-bordered table-striped'>
          <thead>
            <tr>
              <th>Preview</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quote of quotes">
              <td>
                <img src={{quote.Path}} height="40px" width="30px"/>
              </td>
              <td>
                <input type="button" value="Delete" (click)="deleteQuote(quote.Id)" class="btn btn-sm btn-danger">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />
</div>
<footer style="bottom:0">
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>&copy; 2020 - Designed by <a href="http://www.himanksolutions.com/" target="_blank"
                  rel="Himank Soft Solutions">Himank
                  Solutions</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>