<footer>
  <!-- <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <img src="img/logo.png" alt="">
          <div class="textwidget">
            <p>Appropriately implement one-to-one catalysts for change vis-a-vis wireless catalysts for change.
              Enthusiastically architect adaptive.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Create a Free Account</h3>
            <ul class="menu">
              <li><a href="#">Sign In</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Pricing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Resource</h3>
            <ul class="menu">
              <li><a href="#">Comunnity</a></li>
              <li><a href="#">Become a Partner</a></li>
              <li><a href="#">Our Technology</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Support</h3>
            <ul class="menu">
              <li><a routerLink="/termOfUse">Terms &amp; Condition</a></li>
              <li><a routerLink="/privacyPolicy">Privacy Policy</a></li>
              <li><a routerLink="/refund">Refund & Cancellation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info float-left">
              <p>&copy; 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a>
                <span [hidden]="!totalVisit">- {{totalVisit}}</span></p>
            </div>
            <div class="float-right">
              <ul class="footer-social">
                <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/" target="_blank"><i
                      class="lni-facebook-filled"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/BrainSoulYou1" target="_blank"><i
                      class="lni-twitter-filled"></i></a></li>
                <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/" target="_blank"><i
                      class="lni-instagram"></i></a></li>
                <li><a class="google-plus" href="https://www.pinterest.it/brainsoulnyou/motivational-quotes/"
                    target="_blank"><i class="lni-pinterest"></i></a></li>
                <li><a class="insta" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank"><i
                      class="lni-film-play"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center"><a style="color:white;">Terms</a>&nbsp;|&nbsp;<a
              style="color:white;">Privacy
              Policy</a>&nbsp;|&nbsp;<a style="color:white;">Refund &
              Cancellation</a></div>
          <div class="col-md-6 col-xs-12">
            <div class="site-info text-center">
              <p>&copy; 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a>
                <span [hidden]="!totalVisit">- {{totalVisit}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <img class="logo" src="assets/img/logo.png" alt="">
          <div class="textwidget">
            Charge your Brain and Personality with a positive attitude and amplify your Inner Strengths. Experience a
            lifelong adventure at Brain Soul & You.
            <br />
            <h6>HOLD OUR HANDS TO DISCOVER YOURSELF</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Menu</h3>
            <ul class="menu">
              <li><a href="http://brainsoulnyou.com/home/about">About Us</a></li>
              <li><a href="http://brainsoulnyou.com/home/gallery">Gallery</a></li>
              <li><a href="http://blogs.brainsoulnyou.com/" target="_blank">Blogs</a></li>
              <li><a href="http://brainsoulnyou.com/home/termsofuse">Terms</a></li>
              <li><a href="http://test.brainsoulnyou.com/braintest">Brain Test</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Contact</h3>
            <ul class="menu">
              <li><a href=""><i class="lni-envelope"></i> info@brainsoulnyou.com</a></li>
              <li><a href=""><i class="lni-phone"></i> +91 9817591236</a></li>
              <li><a href=""><i class="lni-home"></i> A-1750 Greefields Faridabad, Haryana, India (121010)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="footer-Content">
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="site-info">
                <p>
                  &copy; 2020 - Developed & Maintained by
                  <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">
                    Himank Solutions
                  </a>
                </p>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <a style="color:white;" href="http://www.brainsoulnyou.com/home/privacyPolicy">
                Privacy Policy
              </a>&nbsp;|&nbsp;<a style="color:white;" href="http://www.brainsoulnyou.com/home/refund">
                Refund & Cancellation
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>
  </section>

</footer>