<div id="socialmedia">
  <ul style="list-style: none">
    <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a></li>
    <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
        YouTube</a></li>
    <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a></li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i class="lni-facebook-filled"></i></a></li>
    <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
    <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i
          class="lni-display"></i></a></li>
    <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i class="lni-instagram-filled"></i></a></li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/userlist">UserList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/videos">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/images">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/images">PromoCode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container" style="margin-top: 6em">
  <div class="row">
    <div class="col-sm-12">
      <h1>Videos Detail</h1>
      <p *ngIf="!videos"><em>Loading...</em></p>
      <div class="table-responsive">
        <table class='table table-bordered table-striped' *ngIf="videos">
          <thead>
            <tr>
              <th>Name</th>
              <th>Url</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let video of videos">
              <td>
                <div *ngIf="!video.IsEdit">
                  {{ video.Name }}
                </div>
                <div *ngIf="video.IsEdit">
                  <input type="text" class="form-group" [(ngModel)]="video.Name" required name="Name">
                </div>
              </td>
              <td>
                <div *ngIf="!video.IsEdit">
                  {{ video.Url }}
                </div>
                <div *ngIf="video.IsEdit">
                  <input class="form-group" type="text" [(ngModel)]="video.Url" required name="Url">
                </div>
              </td>
              <td>
                <input *ngIf="!showSaveButton" type="button" value="Edit" (click)="AddVideo(video)"
                  class="btn btn-sm btn-common btn-primary">
                <input *ngIf="showSaveButton" type="button" value="Cancel" (click)="Cancel(video)"
                  class="btn btn-sm btn-danger">
                <input *ngIf="showSaveButton" type="submit" value="Save" (click)="Save(video)"
                  class="btn btn-sm btn-success">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<footer style="bottom:0">
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>&copy; 2020 - Designed by <a href="http://www.himanksolutions.com/" target="_blank"
                  rel="Himank Soft Solutions">Himank
                  Solutions</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>