<!DOCTYPE html>
<html lang="en">


<body>
    <div id="socialmedia">
        <ul style="list-style: none">
            <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a>
            </li>
            <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
            <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
                    YouTube</a></li>
            <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via
                    Instagram</a></li>
        </ul>
    </div>
    <div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
        <ul class="footer-social">
            <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i
                        class="lni-facebook-filled"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i
                        class="lni-display"></i></a></li>
            <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i
                        class="lni-instagram-filled"></i></a></li>
        </ul>
    </div>
    <header id="home">
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
            <div class="container">
                <a href="index.html" class="navbar-brand">Brain Soul & You</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll active" href="index.html">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="video-promo section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="video-promo-content text-center mt-4">
                        <h1>Pricing</h1><br />
                        <h4>The Brain Dominance test will cost ₹ 2000 per Attempt</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="section pb-0">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="single-feature text-center" style="min-height: 166px;">
                        <i class="lni-gift"></i>
                        <h5>Introductory offer - ₹ 99</h5>
                    </div>
                </div>
                <form #f2="ngForm" (ngSubmit)="f2.valid && applyPromoCode()" class="col-md-6">
                    <div class="col-md-12">
                        <div class="single-feature text-center">
                            <i class="lni-keyboard"></i>
                            <div class="row">
                                <div class="col-md-8">
                                    <input style="margin-bottom: 5px;"
                                        class="form-control ng-pristine ng-invalid ng-touched"
                                        [(ngModel)]="promocode.Code" name="Code" #Code="ngModel"
                                        placeholder="Enter Promocode" minlength="4" maxlength="6" type="text">
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" value="proceed" class="btn btn-common btn-effect disabled">
                                </div>
                            </div>
                        </div>
                        <div class="help-block with-errors" *ngIf="Code.errors && f2.submitted ">
                            <small class="error" *ngIf="Code.errors.minlength">
                                Code must be at least 4 characters.
                            </small>
                        </div>

                        {{this.message}}
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="single-feature text-center">
                        <i class="lni-wallet"></i>
                        <h5>Amount Payable: {{finalAmount}}</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-common btn-effect disabled" id="submit" type="button"
                        (click)="processPayment()" style="pointer-events: all; cursor: pointer;">Proceed to Pay <i
                            class="lni-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>
    <section id="counter" class="section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Brain Dominance Test Benefits</h2>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-4">
                    <ul style="line-height:30px">
                        <li>
                            • Test what are your brain preferences through our brain dominance test.
                        </li>
                        <li>
                            • Get a great offer on this lockdown, a ₹1999 test at just ₹99.
                        </li>
                        <li>
                            • Get your brain test report within 24 hours with a call from our experts.
                        </li>
                        <li>
                            • Get a manual of what your brain wants with its thinking preferences and dominance. 
                        </li>
                        <li>
                            • Once we come to know the lacking areas of your whole brain, we can start working on the weak points and skills.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
        <img src="assets/img/loader.gif" />

    </div>
    <footer>
        <section class="footer-Content">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="site-info text-center">
                                <p>© 2020 - Designed by <a href="http://www.himanksolutions.com/" target="_blank"
                                        rel="Himank Soft Solutions">Himank Solutions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>


<div [innerHTML]="paymentUrl "></div>
