<div id="socialmedia">
  <ul style="list-style: none">
    <li><a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a></li>
    <li><a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via
        YouTube</a></li>
    <li><a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a>
    </li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li><a class="facebook" href="https://www.facebook.com/brainsoulnyou/"><i class="lni-facebook-filled"></i></a>
    </li>
    <li><a class="twitter" href="https://twitter.com/BrainSoulYou1"><i class="lni-twitter-filled"></i></a></li>
    <li><a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw"><i
          class="lni-display"></i></a></li>
    <li><a class="insta" href="https://www.instagram.com/brainsoulnyou/"><i class="lni-instagram-filled"></i></a>
    </li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/userlist">UserList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/videos">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/images">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/promoCodes">PromoCode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/institute-list">Generate Institute Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/institute-result">Institute-Wise Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/quotes">Quotes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#" routerLink="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container" id="contact1">
  <div class="row justify-content-center">
    <div class="col-md-offset-4 col-md-4 col-xs-12 mb-4  center-wind">
      <form #f2="ngForm" (ngSubmit)="f2.valid && submit()">
        <div class="contact-block">
          <div class="section-header">
            <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
              style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
              Add Promo code
            </p>
          </div>


          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" minlength="4" maxlength="6" placeholder="Code" required
                [(ngModel)]="model.Code" name="Code" #Code="ngModel">
            </div>
          </div>
          <div class="help-block with-errors" *ngIf="Code.errors && f2.submitted ">
            <small class="error" *ngIf="Code.errors.required">
              Code is required.
            </small>
            <small class="error" *ngIf="Code.errors.minlength">
              Code must be at least 4 characters.
            </small>
          </div>


          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="DiscountRate(%)" required maxlength="2"
                [(ngModel)]="model.DiscountRate" name="DiscountRate" #DiscountRate="ngModel">
            </div>
          </div>
          <div class="help-block with-errors" *ngIf="DiscountRate.errors && f2.submitted ">
            <small class="error" *ngIf="DiscountRate.errors.required">
              DiscountRate is required.
            </small>
          </div>


          <div class="col-md-12">
            <input class="btn btn-common btn-effect" type="submit" value="submit"><br>
            <div>
              {{message}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />

</div>