

  <div class="section" id="gallery">
    <div class="container">
      <div class="section-header mt-30">
        <h2 class="section-title">Gallery</h2>
      </div>
      <div class="tz-gallery">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g1.jpg">
              <img src="assets/img/gallery/g1.jpg" />
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g2.jpg">
              <img src="assets/img/gallery/g2.jpg" alt="">
            </a>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g3.jpg">
              <img src="assets/img/gallery/g3.jpg" alt="">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g4.jpg">
              <img src="assets/img/gallery/g4.jpg" alt="">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g5.jpg">
              <img src="assets/img/gallery/g5.jpg" alt="">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g6.jpg">
              <img src="assets/img/gallery/g6.jpg" alt="">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g7.jpg">
              <img src="assets/img/gallery/g7.jpg" alt="Coast">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g8.jpg">
              <img src="assets/img/gallery/g8.jpg" alt="">
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="lightbox" href="assets/img/gallery/g9.jpg">
              <img src="assets/img/gallery/g9.jpg" alt="">
            </a>
          </div>
        </div>
  
      </div>
    </div>
  </div>
<app-footer></app-footer>

