<app-header></app-header>

<section class="site-blocks-cover overflow-hidden inst-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <div class="row">
          <!-- <div class="col-lg-11">
            <h1>
              We are <span class="txt-rotate" data-period="2000"
                data-rotate='[ "Motivational Speakers.", "NLP TRAINERS.", "Brain Analysts.", "Counsellors." ]'></span>
            </h1>
            <h5> OUR VISION IS TO SPREAD POSITIVITY, HUMANITY & MOTIVATION</h5><br />
          </div> -->
          <div class="col-lg-11">
            <h1>
              Welcome Students <br>
              in whole brain journey</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container">

  <div id="demo" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/slider/s4.jpg" alt="" width="100%">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slider/s5.jpg" alt="" width="100%">
      </div>
      <div class="carousel-item">
        <img src="assets/img/slider/s2.jpg" alt="" width="100%">
      </div>
    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div> -->
<div class="section">
  <div class="container">
    <div class="section-header mb-5">
      <h2 class="section-title">Our Aim is to spread Positivity, Humanity and Motivation</h2>
    </div>
    <div class="col-md-12 col-xs-12 text-center">
      <img src="assets/img/inst.jpg" style="width: 100%;" />
    </div>
  </div>
</div>
<section class="video-promo section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="video-promo-content text-center mt-4">
          <div class="desc-text">
            <h4 class="mt-30 text-center">
              “If you don’t have a purpose in your life, so make your purpose to find that purpose.”<br><br>
              <!-- <small>
                <i>
                  Saurabh Goel (Founder, Brain Soul &amp; You)
                </i>
              </small> -->
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="video-promo section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="video-promo-content text-center mt-4">
          <h1>YMCA Group Counselling Session</h1><br />
          <h4>Our Aim is to spread Positivity, Humanity and Motivation</h4>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="services" class="section pb-0">
  <div class="container">
    <div class="section-header">
      <p class="btn btn-subtitle wow fadeInDown animated" data-wow-delay="0.2s"
        style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
        Questionnaire</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="single-feature">
          <i class="lni-user"></i>
          <h5>Know About Yourself </h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="single-feature">
          <i class="lni-bubble"></i>
          <h5>Your Preferences, Your Brain</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="single-feature">
          <i class="lni-pencil-alt"></i>
          <h5>Learn Whole Brain Utilization</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="counter" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Instruction: Please read it properly before you proceed.</h2>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-4">
        <p>
          This unique questionnaire will help you in your entire life to reach you at whole brain
          Utilization it’s a process to make you aware about your preferences by this you can
          Become so eligible to make your decisions beyond to your preferences.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="counter-text">
          <div>
            <p class="btn btn-subtitle">Brain Test Assessment sheet 1</p>
            <h3>Instructions</h3>
            <div class="desc-text">
              <p>
                You will be given 20 questions and each question has four options.<br />
                You have to select the options as 1 to 4 according to your preferences.<br />
                Like the options which you think is most appropriate, mark it as 1 and then 2 then 3 and last 4 as per
                your preference.
              </p>
              <b>
                PLEASE REMEMBER:
              </b>
              There are no tick right and wrong answers.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="counter-text">
          <div>
            <p class="btn btn-subtitle">Brain Test Assessment sheet 2</p>
            <h3> Instructions</h3>
            <div class="desc-text">
              <p>
                In this Assessment sheet each question is containing two options in every 4 boxes, you just need to
                select one option as per your preference in every box. Remember to click one option in each box.
                <br />
                Hope you will enjoy this test.<br />
                Please proceed now to the journey of Whole Brain Utilization.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
      <img src="assets/img/loader.gif" />
    </div>
    <div class="row justify-content-center" id="contact1">
      <div *ngIf="!loading" class="col-md-8 col-xs-12 mt-50">
        <div *ngIf="institute" class="contact-block wow fadeInUp animated">

          <div class="section-header">
            <p class="btn btn-subtitle wow fadeInDown animated">{{institute.Name}}</p>
          </div>
          <form class="ap-dialog practices-dialog" [formGroup]="instituteForm">

            <div class="row">
              <div class="form-group col-sm-9">
                <input type="text" formControlName="studentName" placeholder="Student Name"
                  class="form-control ng-pristine ng-invalid ng-touched">
                <div class="error" *ngIf="submitted && f.studentName.errors">
                  <div *ngIf="submitted && f.studentName.errors?.required">
                    Please enter Student Name
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <input type="number" formControlName="age" placeholder="Age"
                  class="form-control ng-pristine ng-invalid ng-touched" style="height:48.5px;">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <select class="practice-select" formControlName="gender"
                  class="form-control ng-pristine ng-invalid ng-touched">
                  <option value="">Select Gender
                  </option>
                  <option *ngFor="let gender of genders" [value]="gender.name">{{ gender.name}}
                  </option>
                </select>
                <div class="error" *ngIf="submitted && f.gender.errors">
                  <div *ngIf="submitted && f.gender.errors?.required">
                    Please select your gender
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <input type="number" formControlName="year" placeholder="Year"
                  class="form-control ng-pristine ng-invalid ng-touched">
                <div class="error" *ngIf="submitted && f.year.errors">
                  <div *ngIf="submitted && f.year.errors?.required">
                    Please enter Year
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <input type="text" formControlName="branch" placeholder="Branch"
                  class="form-control ng-pristine ng-invalid ng-touched">
                <div class="error" *ngIf="submitted && f.branch.errors">
                  <div *ngIf="submitted && f.branch.errors?.required">
                    Please enter Branch
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <input type="text" formControlName="rollNumber" placeholder="Roll Number"
                  class="form-control ng-pristine ng-invalid ng-touched">
                <div class="error" *ngIf="submitted && f.rollNumber.errors">
                  <div *ngIf="submitted && f.rollNumber.errors?.required">
                    Please enter your Roll Number
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <input type="text" formControlName="phoneNumber" placeholder="Phone Number" maxlength="10"
                  class="form-control ng-pristine ng-invalid ng-touched">
                <div class="error" *ngIf="submitted && f.phoneNumber.errors">
                  <div *ngIf="submitted && f.phoneNumber.errors?.required">
                    Please enter your phone number
                  </div>
                  <div
                    *ngIf="submitted && f.phoneNumber.errors?.minlength || submitted && f.phoneNumber.errors?.maxlength">
                    Please enter a valid 10 digit phone number
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <input type="text" formControlName="email" placeholder="Email"
                  class="form-control ng-pristine ng-invalid ng-touched">
              </div>
            </div>
            <button type="submit" class="btn  btn-common btn-effect " (click)="onsubmit()">Submit</button>
          </form>
        </div>
        <div *ngIf="!institute">
          <h2> Please enter a valid institute url </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>