/* You can add global styles to this file, and also import other style files */
.ngx-datepicker-calendar-container{z-index: 999}
.error{color: darkred}
.form-control{margin-bottom: 0;line-height: 2.5}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .loader-overlay img{
    position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);


}

.loader-overlay{
  display: none;
  background: rgba(256,256,256,.6);
overflow: hidden;width: 100%;height: 100%;z-index: 999;
position: fixed;top:0;
}
.form-group{margin-bottom: 2.2em}
.text-l{color: #777;
    float: left;
    padding-left: 10px;}
    .center-wind{top:50%;left: 50%;transform: translate(-50%,-50%);
    position: fixed;}
    footer{position: relative;width:100%}
    .btn:not(:disabled):not(.disabled){cursor:pointer}.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active{background-image:e-webkit-linear-gradient(0deg,#3c96ff 0%,#2dfbff 100%);}
    .btn-group-sm>.btn,.btn-sm{font-weight: normal;padding:.3rem .9rem !important;font-size:.9rem!important;line-height:1.5!important;}

    .back-top {
      position: fixed;
      bottom: 35px;
      right: 40px;
      /*display: none;*/
      z-index: 99
  }
  