<div id="result">
  <div id="socialmedia">
    <ul style="list-style: none">
      <li>
        <a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a>
      </li>
      <li>
        <a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via YouTube
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
    <ul class="footer-social">
      <li>
        <a class="facebook" href="https://www.facebook.com/brainsoulnyou/">
          <i class="lni-facebook-filled"></i>
        </a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/BrainSoulYou1">
          <i class="lni-twitter-filled"></i>
        </a>
      </li>
      <li>
        <a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw">
          <i class="lni-display"></i>
        </a>
      </li>
      <li>
        <a class="insta" href="https://www.instagram.com/brainsoulnyou/">
          <i class="lni-instagram-filled"></i>
        </a>
      </li>
    </ul>
  </div>
  <header id="home">
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
      <div class="container">
        <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link page-scroll active" routerLink="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container" style="margin-top:80px">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">Brain Dominance Test Report</h2>
        </div>
        <div class="text-justify mb-4">
          <!-- It is important to note that the total score for every profile is 400. The scores are categorized as follows: -->
          Brain Dominance test is a brain profiling tool to measure a person’s thinking preferences. Thinking
          preferences are the proffered way of your thinking or decision making while working in your most natural
          state. When you are working outside of your thinking preference, you are likely to feel a lesser sense of
          satisfaction with the activity you are doing. You might also feel your energy level dropping. So consider
          this: If your thinking preference is coupled with a comparative job, your work output and energy levels are
          bound to be higher.
          Thinking preference can be adapted and everyone is able to use any mode of thinking. When you are aware of
          your own thinking preferences and how to adapt them.
          <br />
          <p> It is to note that the score for every profile is 400. The scores are categorized as follows:</p>

          <ul>
            <li>
              <div class="row bl">
                <div class="col-sm-4 form-group">
                  <b>• 115+ Very high preference <div class="color1"></div></b>
                </div>
                <div class="col-sm-4 form-group">
                  <b>• 100-114 High preference <div class="color2"></div></b>
                </div>
                <div class="col-sm-4 form-group">
                  <b>• 85-99 Average preference <div class="color3"></div></b>
                </div>
              </div>
            </li>
            <li>
              <div class="row bl">
                <div class="col-sm-4 form-group">
                  <b>• 71-84 Low preference <div class="color4"></div></b>
                </div>
                <div class="col-sm-4 form-group">
                  <b>• 70- Very low preference <div class="color5"></div></b>
                </div>
              </div>
            </li>
          </ul>
          <br />
          <!-- <p class="btn btn-subtitle">Understanding the preference profiles</p>
          <br>
          It is important to understand that brain profiles are an indication of thinking preferences, but these cannot
          be seen as good or bad, right or wrong. They indicate the thinking styles an individual would most prefer if
          he/she had the choice or opportunity.
          <br /><br /> -->
      </div>
      <div class="col-md-12 chart-circle" style="margin-bottom:1.5em;">
        <div class="row">
          <div class="col-sm-12 section-header">
            <!-- <p class="btn btn-subtitle">{{Name}} specific information Whose Email-Id-{{Email}} and Mobile -{{Mobile}}.</p> -->
            <p class="btn btn-subtitle">4 Quadrant Brain Profile</p>
          </div>
        </div>
        <div class="row  justify-content-center">
          <div class="col-sm-6">
            <lib-highcharts-angular #highchart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
              [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
              [oneToOne]="oneToOneFlag" style="width: 100%; height: 400px; "></lib-highcharts-angular>
          </div>
        </div>

      </div>
      <div class="col-md-12 center">
        <div class="row  justify-content-center">
          <div class="col-sm-6">
            <div class="card-banner overlay-grad"
              style="height:100%; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/1.jpg');">
              <div class="card-body text-white">
                <h4 class="card-title">Brain Assessment Report</h4>

                <p class="card-text">
                  {{Text1}}
                  <br /> {{Text2}}
                  <br /> {{Text3}}
                  <br /> {{Text4}}
                  <br />
                </p>
                <!-- <p style="color:#fff">
                  <b>Note:</b> You have very high preference in {{VHQ}} and very low preference in {{VLQ}}. You have a
                  dominance
                  combination of {{VHQ}} and {{SHQ}} brain so career choices for you are: (As per the given).
                  <br> {{ChoiceText}}.
                  <br> for more information please contact - +91 9817591236 ( Whatapp or call )
                </p> -->

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-12 center">
        <div class="section-header">
          <p class="btn btn-subtitle">8 Quadrants And Description</p>
        </div>
        <app-result2 [UserId]='this.model.UserId'></app-result2>


      </div>
      <p class="btn btn-subtitle">8 quadrants and description</p>
      <br>
      <h5>Upper Left Brain,L1</h5>
      <div>Realist - Clarity. Simplicity. No distractions. Focus. Likes clear goals. No mental clutter. Concrete
        values, etc.</div>
      <div>Analyst - Dig deeper. Assess. Reason rationally. Clinical solutions. Identify priorities. Probe.
        Scrutinize, etc.</div>
      <br />
      <h5> Upper Right Brain,R1</h5>
      <div>Strategist – Think big things. See the vision. Break new ground. Predict. Challenge the status quo. Risk.
        Foresee, etc.</div>
      <div>Imaginer – Think in pictures. Listen to inner voice. Intuitive. Day dream. Fantasize. Visualize. Doodle.
        Wired Ideas. Instinct, etc.</div>
      <br />
      <h5>Lower Left Brain,L2</h5>
      <div>Stalwart / Preserver – Disciplined. Conscientious. Diligent. Respects traditions. Methodical and
        cautious. Loyal. Trustworthy. Reliable. Rules and regulations, etc.</div>
      <div>Organizer – Arrange schedules. Put things in action. Organize and plan. Persevere with details. Fixed
        schedules. Administer and oversee, etc.</div>
      <br />
      <h5> Lower Right Brain, R2</h5>
      <div>Socialized – Work in groups. Consensus. Entertain. Network and co-operate. Socialize. Interact with many
        people, etc.</div>
      <div>Empathizer – Caring and sensitive. Service environments. Attachment with a few people. Sentiment and
        mood. Likes to nature and cultivate, etc. </div>
      <br />
 
      <br> Please note that an individual's profile should always be evaluated in categories and not according to
      exact scores.
    </div>
      <div class="pic-des section-header" style="padding:1.5em;margin-bottom:2em">
        <!-- <h3 class="section-title">Understanding the preference profiles</h3>
        <br>
        <p>

          It is important to understand that brain profiles are an indication of thinking preferences, but these cannot
          not be seen
          as good or bad, right or wrong. They indicate the thinking styles an individual would most prefer if he/she
          had
          the
          choice or opportunity.
        </p>
        <p *ngIf="ViewMore">
          This instrument measures the thinking preferences, but not necessarily the skills of an individual. These may
          of
          course be
          similar.
          <br> This would mean that someone could have a low preference score for a quadrant, but may have acquired
          strong
          skills
          in that specific quadrant. On the other hand, strong preferences do not automatically imply strong skills as
          well.
          <br> A high score in a quadrant may indicate strong preferences for some of the processes, but not necessarily
          all.
          <br> In rare cases, brain profiles can change. This may occur over a long period of time because of changing
          interests,
          hobbies, environments and mentors. In rare cases changes occur over a short period of time because of
          traumatic
          events
          or drastic life changes. These changes may be temporary.
          <br> We are born with roughly 30% of preferences, while 70% develop through social and environmental
          interaction.
          <br> Low quadrants may be developed where a desire to do so exists. This can be done through creative whole
          brain exercises.
          It is likely that only skill will be developed in these quadrants, but in some cases preference can grow when
          the
          skill is enhanced.
        </p> -->

        <h2 _ngcontent-c1="" class="section-title wow fadeIn" data-wow-delay="0.2s">Brain Analysis</h2>
        <!-- <p class="btn btn-subtitle">Dominance</p> -->
 
<p> {{SummaryResults}}</p>
<div class="row bl" [hidden]="!CareerChoices">And your career choices are</div>
<p>{{CareerChoices}}</p>
<p>
  It is important to understand that brain profiles are an indication of thinking preferences, but these cannot not be seen as good or bad, right or wrong. They indicate the
thinking styles an individual would most prefer if he/she had the choice or opportunity.
</p>
<p>For more information please contact - +91 9817591236 (WhatsApp or call)</p>
<a [routerLink]="" (click)="ViewMoreOrLess()" style="color:blue;">{{text}}</a>
<a [routerLink]="" style="color:blue;" (click)="DownloadPDf()">DownloadPDf</a>

</div>
</div>
</div>

  <div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
    <img src="assets/img/loader.gif" />

  </div>

  <footer>
    <section class="footer-Content">
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info text-center">
                <p>&copy; 2020 - Designed by
                  <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>