<div id="socialmedia">
  <ul style="list-style: none">
    <li>
      <a href="https://www.facebook.com/brainsoulnyou/" target="_blank" class="fb">Follow via Facebook</a>
    </li>
    <li>
      <a href="https://twitter.com/BrainSoulYou1" target="_blank" class="twi">Follow via Twitter</a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw" target="_blank" class="yt">Follow via YouTube
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/brainsoulnyou/" target="_blank" class="insta">Follow via Instagram</a>
    </li>
  </ul>
</div>
<div class="container-fluid text-center fixed-top d-sm-none" style="top:52px">
  <ul class="footer-social">
    <li>
      <a class="facebook" href="https://www.facebook.com/brainsoulnyou/">
        <i class="lni-facebook-filled"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/BrainSoulYou1">
        <i class="lni-twitter-filled"></i>
      </a>
    </li>
    <li>
      <a class="youtube" href="https://www.youtube.com/channel/UCEqGCVCAfk3FNF4IbbGjfdw">
        <i class="lni-display"></i>
      </a>
    </li>
    <li>
      <a class="insta" href="https://www.instagram.com/brainsoulnyou/">
        <i class="lni-instagram-filled"></i>
      </a>
    </li>
  </ul>
</div>
<header id="home">
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Brain Soul & You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll " routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#gallery">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" routerLink="/braintest">Brain Test</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="carousel-area">
    <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" *ngFor="let x of arrayRange;let i = index"></li>
      </ol>
      <ol class="carousel-indicators">
        <li *ngFor="let item of Images; let i = index" data-target="#carousel-slider" [attr.data-slide-to]="i"
          ngClass="i == 0 ? 'active' : ''">
        </li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+1" class=""></li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+2" class=""></li>
        <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+3" class=""></li>
        <!-- <li data-target="#carousel-slider" [attr.data-slide-to]="imagesLength+4" class=""></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">


        <div *ngFor="let item of Images; let k = index"
          [ngClass]="k == 0 ? 'carousel-item carousel-agency active' : 'carousel-item carousel-agency'">
          <img src={{item.ImageUrl}} alt="" class="slide-img">
          <!-- <div class="overlay"></div> -->
          <!-- <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                </div>
              </div>


            </div>
          </div> -->
        </div>





        <div class="carousel-item carousel-agency ">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/logo.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <h3>
                    Our Vision is to spread Positivity, Humanity and Motivation
                  </h3>
                  <br />
                  <h5>Life doesn’t starts when you get birth, but it starts when you get your own IDENTITY.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    More
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-right">
            <div class="row space-100">
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <br />
                  <h5>Thoughts are the biggest thing in this world. Just one thought can send you anywhere, but only the
                    ACTION
                    can make to all your thoughts TRUE.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">View
                    More
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl2.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-left">
            <div class="row space-100">
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl3.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <br />
                  <h5>Stay focused, go after your dreams and keep moving toward you goals.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    How
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="carousel-item carousel-agency">
          <img src="assets/img/slider/img-3.jpg" alt="" class="slide-img">
          <div class="overlay"></div>
          <div class="carousel-caption text-right">
            <div class="row space-100">
              <div class="col-lg-8 col-md-7 col-xs-12 m-t">
                <div class="contents">
                  <h2 class="head-title">
                    Brain Soul & You
                  </h2>
                  <h3>
                    Always say to yourself
                  </h3>
                  <br />
                  <h5>“I will not allow anyone walk through my Mind with their dirty feet”.</h5>
                  <br />
                  <a href="#about" class="d-none btn btn-lg btn-border-filled wow fadeInUp animated"
                    data-wow-delay="1.2s"
                    style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">Learn
                    How
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="intro-img text-center">
                  <img src="assets/img/slider/sl4.png" alt="Brain Soul & You Logo" style="width:100%">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
        <span class="carousel-control" aria-hidden="true">
          <i class="lni-chevron-left"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
        <span class="carousel-control" aria-hidden="true">
          <i class="lni-chevron-right"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</header>
<div class="section" style="margin-top:4em">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">TERMS AND CONDITIONS</h2>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="about-content">
        <div>
          <div class="desc-text">
            <p class="text-justify mt-30">
              <b>Disclaimer:</b> Please read and edit the TERMS AND CONDITIONS Policy given below as per your /website’s
              requirement. Don’t use
              or apply these as is basis on your website.
              <br>
              <br> Your website may use the Terms and Conditions given below.
              <br> The terms “Brain Soul & You” individually and collectively refer to the users.
              <br> This page states the Terms and Conditions under which you may visit this website
              “www.brainsoulnyou.com”.
              Please read this page carefully. If you do not accept the Terms and Conditions stated here, we would
              request
              you to exit this site. The business, any of its business divisions and / or its subsidiaries, associate
              companies
              or subsidiaries to subsidiaries or such other investment companies (in India or abroad) reserve their
              respective
              rights to revise these Terms and Conditions at any time by updating this posting. You should visit this
              page
              periodically to re-appraise yourself of the Terms and Conditions, because they are binding on all users of
              this Website.

              <br> All logos, brands, marks headings, labels, names, signatures, numerals, shapes or any combinations
              thereof,
              appearing in this site, except as otherwise noted, are properties either owned, or used under license, by
              the
              business and / or its associate entities who feature on this Website. The use of these properties or any
              other
              content on this site, except as provided in these terms and conditions or in the site content, is strictly
              prohibited.
              <br> You may not sell or modify the content of this Website or reproduce, display, publicly perform,
              distribute,
              or otherwise use the materials in any way for any public or commercial purpose without the respective
              organization’s
              or entity’s written permission.
              <br>
              <br> <b>ACCEPTABLE WEBSITE USE</b>
              <br> <b>(A) Security Rules</b>
              <br> Visitors are prohibited from violating or attempting to violate the security of the Web site,
              including, without
              limitation, (1) accessing data not intended for such user or logging into a server or account which the
              user
              is not authorized to access, (2) attempting to probe, scan or test the vulnerability of a system or
              network
              or to breach security or authentication measures without proper authorization, (3) attempting to interfere
              with service to any user, host or network, including, without limitation, via means of submitting a virus
              or
              "Trojan horse" to the Website, overloading, "flooding", "mail bombing" or "crashing", or (4) sending
              unsolicited
              electronic mail, including promotions and/or advertising of products or services. Violations of system or
              network
              security may result in civil or criminal liability. The business and / or its associate entities will have
              the right to investigate occurrences that they suspect as involving such violations and will have the
              right
              to involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such
              violations.
              <br>
              <br> <b>(B) General Rules</b>
              <br> Visitors may not use the Web Site in order to transmit, distribute, store or destroy material (a)
              that could
              constitute or encourage conduct that would be considered a criminal offence or violate any applicable law
              or
              regulation, (b) in a manner that will infringe the copyright, trademark, trade secret or other
              intellectual
              property rights of others or violate the privacy or publicity of other personal rights of others, or (c)
              that
              is libelous, defamatory, pornographic, profane, obscene, threatening, abusive or hateful.
              <br>
              <br> <b>INDEMNITY</b>
              <br> The User unilaterally agree to indemnify and hold harmless, without objection, the Company, its
              officers,
              directors, employees and agents from and against any claims, actions and/or demands and/or liabilities
              and/or
              losses and/or damages whatsoever arising from or resulting from their use of www.brainsoulnyou.com or
              their
              breach of the terms .
              <br>
              <br><b> LIABILITY</b>
              <br> User agrees that neither Company nor its group companies, directors, officers or employee shall be
              liable
              for any direct or/and indirect or/and incidental or/and special or/and consequential or/and exemplary
              damages,
              resulting from the use or/and the inability to use the service or/and for cost of procurement of
              substitute
              goods or/and services or resulting from any goods or/and data or/and information or/and services purchased
              or/and obtained or/and messages received or/and transactions entered into through or/and from the service
              or/and
              resulting from unauthorized access to or/and alteration of user's transmissions or/and data or/and arising
              from any other matter relating to the service, including but not limited to, damages for loss of profits
              or/and
              use or/and data or other intangible, even if Company has been advised of the possibility of such
              damages.<br> User
              further agrees that Company shall not be liable for any damages arising from interruption, suspension or
              termination
              of service, including but not limited to direct or/and indirect or/and incidental or/and special
              consequential
              or/and exemplary damages, whether such interruption or/and suspension or/and termination was justified or
              not,
              negligent or intentional, inadvertent or advertent. User agrees that Company shall not be responsible or
              liable
              to user, or anyone, for the statements or conduct of any third party of the service. In sum, in no event
              shall
              Company's total liability to the User for all damages or/and losses or/and causes of action exceed the
              amount
              paid by the User to Company, if any, that is related to the cause of action.
              <br>
              <br> <b>DISCLAIMER OF CONSEQUENTIAL DAMAGES</b>
              <br> In no event shall Company or any parties, organizations or entities associated with the corporate
              brand name
              us or otherwise, mentioned at this Website be liable for any damages whatsoever (including, without
              limitations,
              incidental and consequential damages, lost profits, or damage to computer hardware or loss of data
              information
              or business interruption) resulting from the use or inability to use the Website and the Website material,
              whether based on warranty, contract, tort, or any other legal theory, and whether or not, such
              organization
              or entities were advised of the possibility of such damages.


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












<div class="loader-overlay" [ngStyle]="{'display':loading==true ? 'block' : 'none' }">
  <img src="assets/img/loader.gif" />
</div>

<footer>
  <section class="footer-Content">
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center"><a style="color:white;" routerLink="/termOfUse">Terms</a>&nbsp;|&nbsp;<a
              style="color:white;" routerLink="/privacyPolicy">Privacy Policy</a>&nbsp;|&nbsp;<a style="color:white;"
              routerLink="/refund">Refund &
              Cancellation</a></div>
          <div class="col-md-6 col-xs-12">
            <div class="site-info text-center">
              <p>&copy; 2020 - Designed by
                <a href="http://www.himanksolutions.com/" target="_blank" rel="Himank Soft Solutions">Himank Solutions
                </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>